pipeline/ingest-new-nms-files-to-radb.json
{
	"name": "ingest-new-nms-files-to-radb",
	"properties": {
		"activities": [
			{
				"name": "Copy-header-to-radb",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "assert-chunk-acquire-success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "RaPipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "NmsFile",
								"value": "$$FILEPATH"
							},
							{
								"name": "NmsDocumentType",
								"value": {
									"value": "@concat('header')",
									"type": "Expression"
								}
							},
							{
								"name": "ChunkId",
								"value": {
									"value": "@variables('chunkId')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*_header.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "CosmosDbSqlApiSink",
						"writeBehavior": "insert"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "NMSMeasurementJSON",
						"type": "DatasetReference",
						"parameters": {
							"chunkid": {
								"value": "@variables('chunkId')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "radb",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@pipeline().parameters.radbContainer",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy-summary-to-radb",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "assert-chunk-acquire-success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "RaPipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "NmsFile",
								"value": "$$FILEPATH"
							},
							{
								"name": "NmsDocumentType",
								"value": {
									"value": "@concat('summary')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*_summary.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "CosmosDbSqlApiSink",
						"writeBehavior": "insert"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "NMSMeasurementJSON",
						"type": "DatasetReference",
						"parameters": {
							"chunkid": {
								"value": "@variables('chunkId')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "radb",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@pipeline().parameters.radbContainer",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy-gps-csv-to-radb",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "assert-chunk-acquire-success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "RaPipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "NmsFile",
								"value": "$$FILEPATH"
							},
							{
								"name": "NmsDocumentType",
								"value": {
									"value": "@concat('gps')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*_gps.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "CosmosDbSqlApiSink",
						"writeBehavior": "insert"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "nmsMeasCSV2",
						"type": "DatasetReference",
						"parameters": {
							"chunkid": {
								"value": "@variables('chunkId')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "radb",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@pipeline().parameters.radbContainer",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "validate-incoming-chunk",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "SetIncomingFile",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetIncomingFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "python ChunkId_cmd.py \"@{pipeline().parameters.triggerFilePath}\"",
						"type": "Expression"
					},
					"resourceLinkedService": {
						"referenceName": "batchStorage",
						"type": "LinkedServiceReference"
					},
					"folderPath": "ra-function-input",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch4",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SetIncomingFile",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "triggerFileName",
					"value": {
						"value": "@pipeline().parameters.triggerFilePath",
						"type": "Expression"
					}
				}
			},
			{
				"name": "assert-chunk-acquire-success",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "validate-incoming-chunk",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "chunkId",
					"value": {
						"value": "@string(int(activity('validate-incoming-chunk').output.customOutput.ChunkId))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "derive-nms-measurement-timestamp",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "Copy-gps-csv-to-radb",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set-nms-records-start-time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "python raNmsRecords_Derive_Timestamp.py @{pipeline().parameters.triggerFilePath}  @{variables('chunkId')} @{variables('NmsRecordsStartTime')}",
						"type": "Expression"
					},
					"resourceLinkedService": {
						"referenceName": "batchStorage",
						"type": "LinkedServiceReference"
					},
					"folderPath": "ra-function-input",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch4",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy-records-csv-to-radb",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "derive-nms-measurement-timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "RaPipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "NmsFile",
								"value": "$$FILEPATH"
							},
							{
								"name": "NmsDocumentType",
								"value": {
									"value": "@concat('records')",
									"type": "Expression"
								}
							},
							{
								"name": "ChunkId",
								"value": {
									"value": "@variables('chunkId')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*_records_with_derived_timestamp.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "CosmosDbSqlApiSink",
						"writeBehavior": "insert"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "nmsRecordsCsv",
						"type": "DatasetReference",
						"parameters": {
							"chunkid": {
								"value": "@variables('chunkId')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "radbRecords",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup-header-timestamp",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy-header-to-radb",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy-gps-csv-to-radb",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CosmosDbSqlApiSource",
						"query": {
							"value": "SELECT c.params_global_settings.measure_start_datetime FROM c \nwhere \n    c.RaPipelineId = '@{pipeline().RunId}'\n    and c.NmsDocumentType = 'header' \n    ",
							"type": "Expression"
						},
						"preferredRegions": [],
						"detectDatetime": true
					},
					"dataset": {
						"referenceName": "radb",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "nms-items"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "exec-ra-func-process",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy-records-csv-to-radb",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy-summary-to-radb",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ra-func-process-orch",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"radbContainer": {
							"value": "@pipeline().parameters.radbContainer",
							"type": "Expression"
						},
						"blobContainerName": {
							"value": "@pipeline().parameters.blobContainerName",
							"type": "Expression"
						},
						"triggerFilePath": {
							"value": "@pipeline().parameters.triggerFilePath",
							"type": "Expression"
						},
						"ChunkID": {
							"value": "@variables('chunkId')",
							"type": "Expression"
						},
						"raPipelineId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"nmsHeaderStartTime": {
							"value": "@{variables('NmsRecordsStartTime')}",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "set-nms-records-start-time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup-header-timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "NmsRecordsStartTime",
					"value": {
						"value": "@{activity('Lookup-header-timestamp').output.firstRow.measure_start_datetime}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetIncomingFolder",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "triggerFileFolderPath",
					"value": {
						"value": "@pipeline().parameters.triggerFilePath",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"radbContainer": {
				"type": "string",
				"defaultValue": "nms-items"
			},
			"blobContainerName": {
				"type": "string",
				"defaultValue": "nms-files-input"
			},
			"triggerFilePath": {
				"type": "string"
			},
			"triggerFolderName": {
				"type": "string"
			}
		},
		"variables": {
			"RowNo": {
				"type": "String",
				"defaultValue": "0"
			},
			"triggerFileName": {
				"type": "String"
			},
			"chunkId": {
				"type": "String"
			},
			"queryResult": {
				"type": "String"
			},
			"NmsRecordsStartTime": {
				"type": "String"
			},
			"triggerFileFolderPath": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-08-24T05:45:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}