pipeline/ingest-new-nms-files-to-radb_copy1.json
{
	"name": "ingest-new-nms-files-to-radb_copy1",
	"properties": {
		"activities": [
			{
				"name": "Copy-header-to-radb",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy-gps-csv-to-radb",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "RaPipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "NmsFile",
								"value": "$$FILEPATH"
							},
							{
								"name": "NmsDocumentType",
								"value": {
									"value": "@concat('header')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*_header.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "CosmosDbSqlApiSink",
						"writeBehavior": "insert"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "NMSMeasurementJSON",
						"type": "DatasetReference",
						"parameters": {
							"chunkid": {
								"value": "@variables('chunkId')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "radb",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@pipeline().parameters.radbContainer",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy-summary-to-radb",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy-header-to-radb",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "RaPipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "NmsFile",
								"value": "$$FILEPATH"
							},
							{
								"name": "NmsDocumentType",
								"value": {
									"value": "@concat('summary')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*_summary.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "CosmosDbSqlApiSink",
						"writeBehavior": "insert"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "NMSMeasurementJSON",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "radb",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@pipeline().parameters.radbContainer",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Df-load-record-csv",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "derive-nms-measurement-timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dfLoadRecordsCSV",
						"type": "DataFlowReference",
						"parameters": {
							"RaPipelineIdParam": {
								"value": "'@{pipeline().RunId}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Copy-gps-csv-to-radb",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "derive-nms-measurement-timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "RaPipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "NmsFile",
								"value": "$$FILEPATH"
							},
							{
								"name": "NmsDocumentType",
								"value": {
									"value": "@concat('gps')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*_gps.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "CosmosDbSqlApiSink",
						"writeBehavior": "insert"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "nmsMeasCSV2",
						"type": "DatasetReference",
						"parameters": {
							"chunkid": {
								"value": "@variables('chunkId')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "radb",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@pipeline().parameters.radbContainer",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "validate-incoming-chunk",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "Set-incoming-file-name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "python ChunkId_cmd.py \"@{pipeline().parameters.triggerFilePath}\"",
						"type": "Expression"
					},
					"resourceLinkedService": {
						"referenceName": "batchStorage",
						"type": "LinkedServiceReference"
					},
					"folderPath": "ra-function-input",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch4",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set-incoming-file-name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "triggerFileName",
					"value": {
						"value": "@pipeline().parameters.triggerFilePath",
						"type": "Expression"
					}
				}
			},
			{
				"name": "assert-chunk-acquire-success",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "validate-incoming-chunk",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "chunkId",
					"value": {
						"value": "@string(int(activity('validate-incoming-chunk').output.customOutput.ChunkId))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Invoke-preprologger-function",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "Df-load-record-csv",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy-summary-to-radb",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy-records-csv-to-radb",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "python cmd_PreProLogger.py \"@{pipeline().RunId}\", \"@{variables('chunkId')}\", \"1\"",
						"type": "Expression"
					},
					"resourceLinkedService": {
						"referenceName": "batchStorage",
						"type": "LinkedServiceReference"
					},
					"folderPath": "ra-function-input",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch4",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "query-results",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Invoke-preprologger-function",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "queryResult",
					"value": "'ok'"
				}
			},
			{
				"name": "derive-nms-measurement-timestamp",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "assert-chunk-acquire-success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "python raNmsRecords_Derive_Timestamp --ifile @{pipeline().parameters.triggerFilePath} --chunkid @{variables('chunkId')}",
						"type": "Expression"
					},
					"resourceLinkedService": {
						"referenceName": "batchStorage",
						"type": "LinkedServiceReference"
					},
					"folderPath": "ra-function-input",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch4",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy-records-csv-to-radb",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "derive-nms-measurement-timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "RaPipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "NmsFile",
								"value": "$$FILEPATH"
							},
							{
								"name": "NmsDocumentType",
								"value": {
									"value": "@concat('records')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "CosmosDbSqlApiSink",
						"writeBehavior": "insert"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"sink": {
									"path": "$['summary_main_results'][0]"
								}
							},
							{
								"sink": {
									"path": "$['summary_octave_analysis_results'][0]"
								}
							},
							{
								"sink": {
									"path": "$['RaPipelineId']"
								}
							},
							{
								"sink": {
									"path": "$['NmsFile']"
								}
							},
							{
								"sink": {
									"path": "$['NmsDocumentType']"
								}
							},
							{
								"sink": {
									"path": "$['id']"
								}
							},
							{
								"sink": {
									"path": "$['_rid']"
								}
							},
							{
								"sink": {
									"path": "$['_self']"
								}
							},
							{
								"sink": {
									"path": "$['_etag']"
								}
							},
							{
								"sink": {
									"path": "$['_attachments']"
								}
							},
							{
								"sink": {
									"path": "$['_ts']"
								}
							},
							{
								"sink": {
									"path": "$['quality']"
								}
							},
							{
								"sink": {
									"path": "$['datetime']"
								}
							},
							{
								"sink": {
									"path": "$['latitude_0']"
								}
							},
							{
								"sink": {
									"path": "$['latitude_1']"
								}
							},
							{
								"sink": {
									"path": "$['latitude_2']"
								}
							},
							{
								"sink": {
									"path": "$['latitude_3']"
								}
							},
							{
								"sink": {
									"path": "$['latitude_4']"
								}
							},
							{
								"sink": {
									"path": "$['longitude_0']"
								}
							},
							{
								"sink": {
									"path": "$['longitude_1']"
								}
							},
							{
								"sink": {
									"path": "$['longitude_2']"
								}
							},
							{
								"sink": {
									"path": "$['longitude_3']"
								}
							},
							{
								"sink": {
									"path": "$['longitude_4']"
								}
							},
							{
								"sink": {
									"path": "$['altitude_0']"
								}
							},
							{
								"sink": {
									"path": "$['altitude_1']"
								}
							},
							{
								"sink": {
									"path": "$['speed']"
								}
							},
							{
								"sink": {
									"path": "$['heading']"
								}
							},
							{
								"sink": {
									"path": "$['hdop']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "nmsRecordsCsv",
						"type": "DatasetReference",
						"parameters": {
							"chunkid": {
								"value": "@variables('chunkId')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "radbRecords",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"radbContainer": {
				"type": "string",
				"defaultValue": "nms-items"
			},
			"blobContainerName": {
				"type": "string",
				"defaultValue": "nms-files-input"
			},
			"triggerFilePath": {
				"type": "string",
				"defaultValue": "L88981_records.csv"
			}
		},
		"variables": {
			"RowNo": {
				"type": "String",
				"defaultValue": "0"
			},
			"triggerFileName": {
				"type": "String"
			},
			"chunkId": {
				"type": "String"
			},
			"queryResult": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-08-24T05:45:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}