pipeline/python-test_chunkid-w-params.json
{
	"name": "python-test_chunkid-w-params",
	"properties": {
		"activities": [
			{
				"name": "call py func with params",
				"type": "Custom",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": "python ChunkId_cmd.py \"L90353_records.csv\"",
					"resourceLinkedService": {
						"referenceName": "batchStorage",
						"type": "LinkedServiceReference"
					},
					"folderPath": "ra-function-input",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatchDs",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "call py func with params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "chunkid",
					"value": {
						"value": "@activity('call py func with params').output.CustomOutput.ChunkId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "call py func with params_copy1",
				"type": "Custom",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": "python ChunkId_cmd.py \"L90353_records.csv\"",
					"resourceLinkedService": {
						"referenceName": "batchStorage",
						"type": "LinkedServiceReference"
					},
					"folderPath": "ra-function-input",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatchDs",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"chunkid": {
				"type": "String"
			}
		},
		"annotations": []
	}
}