pipeline/svlconvLogrSvlToRaNmsChunkFiles.json
{
	"name": "svlconvLogrSvlToRaNmsChunkFiles",
	"properties": {
		"activities": [
			{
				"name": "SetTriggerFileName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TriggerFileName",
					"value": {
						"value": "@{pipeline().parameters.triggerFilePath}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetTriggerFolderPath",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TriggerFolderPath",
					"value": {
						"value": "@{pipeline().parameters.TriggerFolderPath}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetFullFilePath",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetTriggerFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetTriggerFolderPath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileFullPath",
					"value": {
						"value": "@concat(variables('TriggerFolderPath'),'/',variables('TriggerFileName'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "multi cmd line_copy1_copy1",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "SetFullFilePath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": "/bin/sh -c '\nls\nunzip SVLConv.zip\nls\ncd SVLConv\nls *.py\nls\n'\n",
					"resourceLinkedService": {
						"referenceName": "batchStorage",
						"type": "LinkedServiceReference"
					},
					"folderPath": "svlconv-function-input",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatchDs",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "multi cmd line_copy1_copy1_copy1",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "SetFullFilePath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "/bin/sh -c '\nunzip SVLConv.zip\nls SVLConv/svlconv\nls SVLConv\npython SVLConv/svl2docs_pipeline.py @{variables('TriggerFileName')}\n'",
						"type": "Expression"
					},
					"resourceLinkedService": {
						"referenceName": "batchStorage",
						"type": "LinkedServiceReference"
					},
					"folderPath": "svlconv-function-input",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatchDs",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"triggerFilePath": {
				"type": "string",
				"defaultValue": "L89289.SVL"
			},
			"triggerFolderPath": {
				"type": "string",
				"defaultValue": "nms-files-sync-aws/files/SV_200A_65170"
			}
		},
		"variables": {
			"TriggerFileName": {
				"type": "String"
			},
			"ChunkId": {
				"type": "String",
				"defaultValue": "89155"
			},
			"TriggerFolderPath": {
				"type": "String"
			},
			"FileFullPath": {
				"type": "String"
			}
		},
		"annotations": []
	}
}