pipeline/svlconvLogrSvlToRaNmsChunkFiles.json
{
	"name": "svlconvLogrSvlToRaNmsChunkFiles",
	"properties": {
		"activities": [
			{
				"name": "python3 svl-conv-single-file",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "SetFullFilePath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "/bin/sh -c 'sudo apt-get -s update; sudo apt-get install python3.10 -y; sudo apt-get install python3-pip -y; pip3 install numpy azure-cosmos azure-storage-blob;python3 --version;unzip SvlConv.zip -q; ls;python3 --version; python3 svl2docs_pipeline.py L89313.SVL'",
						"type": "Expression"
					},
					"resourceLinkedService": {
						"referenceName": "batchStorage",
						"type": "LinkedServiceReference"
					},
					"folderPath": "svlconv-2",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatchDs",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SetTriggerFileName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TriggerFileName",
					"value": {
						"value": "@{pipeline().parameters.triggerFilePath}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetTriggerFolderPath",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TriggerFolderPath",
					"value": {
						"value": "@{pipeline().parameters.TriggerFolderPath}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetFullFilePath",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetTriggerFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetTriggerFolderPath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileFullPath",
					"value": {
						"value": "@concat(variables('TriggerFolderPath'),'/',variables('TriggerFileName'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "cmd test silent",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "SetFullFilePath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": "/bin/sh -c '\necho \"before unzip\"\nls\necho \"unzipping......\"\nunzip SvlConv.zip > zip.txt\necho \"after unzip\"\nls\n'",
					"resourceLinkedService": {
						"referenceName": "batchStorage",
						"type": "LinkedServiceReference"
					},
					"folderPath": "svlconv-2",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatchDs",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "cmd python3 ver",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "SetFullFilePath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": "/bin/sh -c '\npython3 --version\n'",
					"resourceLinkedService": {
						"referenceName": "batchStorage",
						"type": "LinkedServiceReference"
					},
					"folderPath": "svlconv-2",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatchDs",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"triggerFilePath": {
				"type": "string",
				"defaultValue": "L89239.SVL"
			},
			"triggerFolderPath": {
				"type": "string",
				"defaultValue": "nms-files-sync-aws/files/SV_200A_65170"
			}
		},
		"variables": {
			"TriggerFileName": {
				"type": "String"
			},
			"ChunkId": {
				"type": "String",
				"defaultValue": "89155"
			},
			"TriggerFolderPath": {
				"type": "String"
			},
			"FileFullPath": {
				"type": "String"
			}
		},
		"annotations": []
	}
}