ra-df-01/PartialArmTemplates/ArmTemplate_10_11_2021_9_21_59.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ra-df-01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/svlconvLogrSvlToRaNmsChunkFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "svl-conv-single-file",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "SetFullFilePath",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "powershell \"Expand-Archive svlconv.zip -DestinationPath  . ; ls; .\\cmdSvlConv.ps1 @{variables('FileFullPath')}; ls\"",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "svlconv-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SetTriggerFileName",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "TriggerFileName",
							"value": {
								"value": "@{pipeline().parameters.triggerFilePath}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetTriggerFolderPath",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "TriggerFolderPath",
							"value": {
								"value": "@{pipeline().parameters.TriggerFolderPath}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetFullFilePath",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SetTriggerFileName",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SetTriggerFolderPath",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "FileFullPath",
							"value": {
								"value": "@concat(variables('TriggerFolderPath'),'/',variables('TriggerFileName'))",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"triggerFilePath": {
						"type": "string",
						"defaultValue": "L88829.SVL"
					},
					"triggerFolderPath": {
						"type": "string",
						"defaultValue": "nms-files-sync-aws/files/SV_200A_65170"
					}
				},
				"variables": {
					"TriggerFileName": {
						"type": "String"
					},
					"ChunkId": {
						"type": "String",
						"defaultValue": "89155"
					},
					"TriggerFolderPath": {
						"type": "String"
					},
					"FileFullPath": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerLoggerSN_65123')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "svlconvLogrSvlToRaNmsChunkFiles",
							"type": "PipelineReference"
						},
						"parameters": {
							"triggerFilePath": "@{pipeline().parameters.triggerFilePath}",
							"triggerFolderPath": "@{pipeline().parameters.triggerFolderPath}"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/nms-files-sync-aws/blobs/files/SV_200A_65123/",
					"blobPathEndsWith": "SVL",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/73fcf868-2d25-43c5-a736-162a94432e65/resourceGroups/ra-rg-central-01/providers/Microsoft.Storage/storageAccounts/rastoracc02",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/svlconvLogrSvlToRaNmsChunkFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerLoggerSN_65169')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "svlconvLogrSvlToRaNmsChunkFiles",
							"type": "PipelineReference"
						},
						"parameters": {
							"triggerFilePath": "@{pipeline().parameters.triggerFilePath}",
							"triggerFolderPath": "@{pipeline().parameters.triggerFolderPath}"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/nms-files-sync-aws/blobs/files/SV_200A_65169/",
					"blobPathEndsWith": "SVL",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/73fcf868-2d25-43c5-a736-162a94432e65/resourceGroups/ra-rg-central-01/providers/Microsoft.Storage/storageAccounts/rastoracc02",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/svlconvLogrSvlToRaNmsChunkFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerLoggerSN_65170')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "svlconvLogrSvlToRaNmsChunkFiles",
							"type": "PipelineReference"
						},
						"parameters": {
							"triggerFilePath": "@{pipeline().parameters.triggerFilePath}",
							"triggerFolderPath": "@{pipeline().parameters.triggerFolderPath}"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/nms-files-sync-aws/blobs/files/SV_200A_65170/",
					"blobPathEndsWith": "SVL",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/73fcf868-2d25-43c5-a736-162a94432e65/resourceGroups/ra-rg-central-01/providers/Microsoft.Storage/storageAccounts/rastoracc02",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/svlconvLogrSvlToRaNmsChunkFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerLoggerSN_65173')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "svlconvLogrSvlToRaNmsChunkFiles",
							"type": "PipelineReference"
						},
						"parameters": {
							"triggerFilePath": "@{pipeline().parameters.triggerFilePath}",
							"triggerFolderPath": "@{pipeline().parameters.triggerFolderPath}"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/nms-files-sync-aws/blobs/files/SV_200A_65173/",
					"blobPathEndsWith": "SVL",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/73fcf868-2d25-43c5-a736-162a94432e65/resourceGroups/ra-rg-central-01/providers/Microsoft.Storage/storageAccounts/rastoracc02",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/svlconvLogrSvlToRaNmsChunkFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerLoggerSN_65186')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "svlconvLogrSvlToRaNmsChunkFiles",
							"type": "PipelineReference"
						},
						"parameters": {
							"triggerFilePath": "@{pipeline().parameters.triggerFilePath}",
							"triggerFolderPath": "@{pipeline().parameters.triggerFolderPath}"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/nms-files-sync-aws/blobs/files/SV_200A_65186/",
					"blobPathEndsWith": "SVL",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/73fcf868-2d25-43c5-a736-162a94432e65/resourceGroups/ra-rg-central-01/providers/Microsoft.Storage/storageAccounts/rastoracc02",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/svlconvLogrSvlToRaNmsChunkFiles')]"
			]
		}
	]
}