ra-df-01/PartialArmTemplates/ArmTemplate_10_11_2021_8_13_20.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ra-df-01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ingest-new-nms-files-to-radb_v2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy-header-to-radb",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetChunkId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "RaPipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "NmsFile",
										"value": "$$FILEPATH"
									},
									{
										"name": "NmsDocumentType",
										"value": {
											"value": "@concat('header')",
											"type": "Expression"
										}
									},
									{
										"name": "ChunkId",
										"value": {
											"value": "@variables('chunkId')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "L@{variables('chunkId')}_header.json",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "NMSMeasurementJSON",
								"type": "DatasetReference",
								"parameters": {
									"chunkid": {
										"value": "@variables('chunkId')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.radbContainer",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy-summary-to-radb",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetChunkId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "RaPipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "NmsFile",
										"value": "$$FILEPATH"
									},
									{
										"name": "NmsDocumentType",
										"value": {
											"value": "@concat('summary')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*_summary.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "NMSMeasurementJSON",
								"type": "DatasetReference",
								"parameters": {
									"chunkid": {
										"value": "@variables('chunkId')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.radbContainer",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy-gps-csv-to-radb",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetChunkId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "RaPipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "NmsFile",
										"value": "$$FILEPATH"
									},
									{
										"name": "NmsDocumentType",
										"value": {
											"value": "@concat('gps')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*_gps.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "nmsMeasCSV2",
								"type": "DatasetReference",
								"parameters": {
									"chunkid": {
										"value": "@variables('chunkId')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.radbContainer",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "validate-incoming-chunk",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "SetIncomingFile",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SetIncomingFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "python ChunkId_cmd.py \"@{pipeline().parameters.triggerFilePath}\"",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SetIncomingFile",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "triggerFileName",
							"value": {
								"value": "@pipeline().parameters.triggerFilePath",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetChunkId",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "validate-incoming-chunk",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "chunkId",
							"value": {
								"value": "@string(int(activity('validate-incoming-chunk').output.customOutput.ChunkId))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "derive-nms-measurement-timestamp",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "Copy-gps-csv-to-radb",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "set-nms-records-start-time",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "setLoggerSN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "python raNmsRecords_Derive_Timestamp.py @{pipeline().parameters.triggerFilePath}  @{variables('chunkId')} @{variables('NmsRecordsStartTime')}",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy-records-csv-to-radb",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "derive-nms-measurement-timestamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "RaPipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "NmsFile",
										"value": "$$FILEPATH"
									},
									{
										"name": "NmsDocumentType",
										"value": {
											"value": "@concat('records')",
											"type": "Expression"
										}
									},
									{
										"name": "ChunkId",
										"value": {
											"value": "@variables('chunkId')",
											"type": "Expression"
										}
									},
									{
										"name": "SN",
										"value": {
											"value": "@variables('LoggerSN')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "nmsRecordsCsv",
								"type": "DatasetReference",
								"parameters": {
									"chunkid": {
										"value": "@variables('chunkId')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "radbRecords",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "LookupChunkHeaderInfo",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy-header-to-radb",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy-gps-csv-to-radb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"query": {
									"value": "SELECT \nc.unit_spec.unit_number, \nc.params_global_settings.measure_start_datetime FROM c \nwhere \n    c.RaPipelineId = '@{pipeline().RunId}'\n    and c.NmsDocumentType = 'header' \n    ",
									"type": "Expression"
								},
								"preferredRegions": [],
								"detectDatetime": false
							},
							"dataset": {
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": "nms-items"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "exec-ra-func-process",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy-records-csv-to-radb",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy-summary-to-radb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ra-func-process-orch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"radbContainer": {
									"value": "@pipeline().parameters.radbContainer",
									"type": "Expression"
								},
								"blobContainerName": {
									"value": "@pipeline().parameters.blobContainerName",
									"type": "Expression"
								},
								"triggerFilePath": {
									"value": "@pipeline().parameters.triggerFilePath",
									"type": "Expression"
								},
								"ChunkID": {
									"value": "@variables('chunkId')",
									"type": "Expression"
								},
								"raPipelineId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"nmsHeaderStartTime": {
									"value": "@{variables('NmsRecordsStartTime')}",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "set-nms-records-start-time",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "LookupChunkHeaderInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "NmsRecordsStartTime",
							"value": {
								"value": "@{activity('LookupChunkHeaderInfo').output.firstRow.measure_start_datetime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetIncomingFolder",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "triggerFileFolderPath",
							"value": {
								"value": "@pipeline().parameters.triggerFilePath",
								"type": "Expression"
							}
						}
					},
					{
						"name": "setLoggerSN",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "LookupChunkHeaderInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "LoggerSN",
							"value": {
								"value": "@{activity('LookupChunkHeaderInfo').output.firstRow.unit_number}",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"radbContainer": {
						"type": "string",
						"defaultValue": "nms-items"
					},
					"blobContainerName": {
						"type": "string",
						"defaultValue": "nms-files-input"
					},
					"triggerFilePath": {
						"type": "string",
						"defaultValue": "L88837_records.csv"
					},
					"triggerFolderName": {
						"type": "string"
					}
				},
				"variables": {
					"RowNo": {
						"type": "String",
						"defaultValue": "0"
					},
					"triggerFileName": {
						"type": "String"
					},
					"chunkId": {
						"type": "String"
					},
					"queryResult": {
						"type": "String"
					},
					"NmsRecordsStartTime": {
						"type": "String"
					},
					"triggerFileFolderPath": {
						"type": "String"
					},
					"LoggerSN": {
						"type": "String"
					}
				},
				"folder": {
					"name": "archive"
				},
				"annotations": [],
				"lastPublishTime": "2021-08-24T05:45:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/nmsRecordsCsv')]",
				"[concat(variables('factoryId'), '/pipelines/ra-func-process-orch')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ra-func-compliance')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CheckForSensorFeedQuorum",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"preferredRegions": []
							},
							"dataset": {
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": "nms-items"
								}
							}
						}
					},
					{
						"name": "SensorFeedQuorumExists",
						"type": "Switch",
						"dependsOn": [
							{
								"activity": "CheckForSensorFeedQuorum",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@activity('CheckForSensorFeedQuorum').output.quorumExists",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "Case1",
									"activities": [
										{
											"name": "QueryPreProLogger_copy1",
											"type": "SetVariable",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"variableName": "queryResult",
												"value": "'ok'"
											}
										},
										{
											"name": "FindLocksSWLs",
											"type": "Custom",
											"dependsOn": [
												{
													"activity": "QueryPreProLogger_copy1",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"command": "powershell \"python cmdFindLocksSWLs.py\"",
												"referenceObjects": {
													"linkedServices": [],
													"datasets": []
												}
											},
											"linkedServiceName": {
												"referenceName": "AzureBatch4",
												"type": "LinkedServiceReference"
											}
										},
										{
											"name": "FindSPL",
											"type": "Custom",
											"dependsOn": [
												{
													"activity": "FindLocksSWLs",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"command": "powershell \"python cmdFindSPL.py\"",
												"referenceObjects": {
													"linkedServices": [],
													"datasets": []
												}
											},
											"linkedServiceName": {
												"referenceName": "AzureBatch4",
												"type": "LinkedServiceReference"
											}
										},
										{
											"name": "QuerySWLs_copy1",
											"type": "SetVariable",
											"dependsOn": [
												{
													"activity": "FindLocksSWLs",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"userProperties": [],
											"typeProperties": {
												"variableName": "queryResult",
												"value": "'ok'"
											}
										},
										{
											"name": "QuerySPLs_copy1",
											"type": "SetVariable",
											"dependsOn": [
												{
													"activity": "FindSPL",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"userProperties": [],
											"typeProperties": {
												"variableName": "queryResult",
												"value": "'ok'"
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"radbContainer": {
						"type": "string",
						"defaultValue": "nms-items"
					},
					"blobContainerName": {
						"type": "string",
						"defaultValue": "nms-files-input"
					},
					"triggerFilePath": {
						"type": "string",
						"defaultValue": "L89174_records.csv"
					},
					"ChunkID": {
						"type": "string",
						"defaultValue": "89174\t"
					},
					"raPipelineId": {
						"type": "string",
						"defaultValue": "f97597f2-68e0-4cfc-b61c-c2de8bf4775e"
					},
					"nmsHeaderStartTime": {
						"type": "string",
						"defaultValue": "2021-10-03T04:00:00"
					}
				},
				"variables": {
					"RowNo": {
						"type": "String",
						"defaultValue": "0"
					},
					"triggerFileName": {
						"type": "String"
					},
					"chunkId": {
						"type": "String"
					},
					"queryResult": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-24T05:45:33Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ra-func-process-orch')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PreProLogger",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "powershell \"ls .; python cmd_PreProLogger.py @{pipeline().parameters.raPipelineId} @{pipeline().parameters.ChunkID} @{pipeline().parameters.nmsHeaderStartTime} \"",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "QueryPreProLogger",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "PreProLogger",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "queryResult",
							"value": "'ok'"
						}
					},
					{
						"name": "FindLocksSWLs",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "PreProLogger",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "powershell \"ls\"",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FindSPL",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "FindLocksSWLs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "powershell \"ls\"",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "QuerySWLs",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "FindLocksSWLs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "queryResult",
							"value": "'ok'"
						}
					},
					{
						"name": "QuerySPLs",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "FindSPL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "queryResult",
							"value": "'ok'"
						}
					}
				],
				"parameters": {
					"radbContainer": {
						"type": "string",
						"defaultValue": "nms-items"
					},
					"blobContainerName": {
						"type": "string",
						"defaultValue": "nms-files-input"
					},
					"triggerFilePath": {
						"type": "string",
						"defaultValue": "L89174_records.csv"
					},
					"ChunkID": {
						"type": "string",
						"defaultValue": "89174\t"
					},
					"raPipelineId": {
						"type": "string",
						"defaultValue": "f97597f2-68e0-4cfc-b61c-c2de8bf4775e"
					},
					"nmsHeaderStartTime": {
						"type": "string",
						"defaultValue": "2021-10-03T04:00:00"
					}
				},
				"variables": {
					"RowNo": {
						"type": "String",
						"defaultValue": "0"
					},
					"triggerFileName": {
						"type": "String"
					},
					"chunkId": {
						"type": "String"
					},
					"queryResult": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-24T05:45:33Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/svlconvToRaNmsChunkFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "svl-conv",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "SetTriggerFilePath",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "powershell \"Expand-Archive svlconv.zip -DestinationPath .; ls; .\\cmdSvlConv.ps1; ls\"",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "svlconv-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SetTriggerFilePath",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vTriggerFilePAth",
							"value": {
								"value": "@{pipeline().parameters.triggerFilePath}",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"TriggerFilePath": {
						"type": "string"
					},
					"TriggerFolderPath": {
						"type": "string"
					}
				},
				"variables": {
					"vTriggerFilePAth": {
						"type": "String"
					},
					"ChunkId": {
						"type": "String",
						"defaultValue": "89155"
					}
				},
				"folder": {
					"name": "archive"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/nmsRecordsCsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "rablobservice",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"chunkid": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "L@{dataset().chunkid}_records_with_derived_timestamp.csv",
							"type": "Expression"
						},
						"container": "nms-files-input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "RowNumber",
						"type": "String"
					},
					{
						"name": "CorrectedTimestamp",
						"type": "String"
					},
					{
						"name": "flag",
						"type": "String"
					},
					{
						"name": "measurements_0",
						"type": "String"
					},
					{
						"name": "measurements_1",
						"type": "String"
					},
					{
						"name": "measurements_2",
						"type": "String"
					},
					{
						"name": "measurements_3",
						"type": "String"
					},
					{
						"name": "measurements_4",
						"type": "String"
					},
					{
						"name": "measurements_5",
						"type": "String"
					},
					{
						"name": "measurements_6",
						"type": "String"
					},
					{
						"name": "measurements_7",
						"type": "String"
					},
					{
						"name": "measurements_8",
						"type": "String"
					},
					{
						"name": "measurements_9",
						"type": "String"
					},
					{
						"name": "measurements_10",
						"type": "String"
					},
					{
						"name": "measurements_11",
						"type": "String"
					},
					{
						"name": "measurements_12",
						"type": "String"
					},
					{
						"name": "measurements_13",
						"type": "String"
					},
					{
						"name": "measurements_14",
						"type": "String"
					},
					{
						"name": "measurements_15",
						"type": "String"
					},
					{
						"name": "measurements_16",
						"type": "String"
					},
					{
						"name": "measurements_17",
						"type": "String"
					},
					{
						"name": "octaves_0",
						"type": "String"
					},
					{
						"name": "octaves_1",
						"type": "String"
					},
					{
						"name": "octaves_2",
						"type": "String"
					},
					{
						"name": "octaves_3",
						"type": "String"
					},
					{
						"name": "octaves_4",
						"type": "String"
					},
					{
						"name": "octaves_5",
						"type": "String"
					},
					{
						"name": "octaves_6",
						"type": "String"
					},
					{
						"name": "octaves_7",
						"type": "String"
					},
					{
						"name": "octaves_8",
						"type": "String"
					},
					{
						"name": "octaves_9",
						"type": "String"
					},
					{
						"name": "octaves_10",
						"type": "String"
					},
					{
						"name": "octaves_11",
						"type": "String"
					},
					{
						"name": "octaves_12",
						"type": "String"
					},
					{
						"name": "octaves_13",
						"type": "String"
					},
					{
						"name": "octaves_14",
						"type": "String"
					},
					{
						"name": "octaves_15",
						"type": "String"
					},
					{
						"name": "octaves_16",
						"type": "String"
					},
					{
						"name": "octaves_17",
						"type": "String"
					},
					{
						"name": "octaves_18",
						"type": "String"
					},
					{
						"name": "octaves_19",
						"type": "String"
					},
					{
						"name": "octaves_20",
						"type": "String"
					},
					{
						"name": "octaves_21",
						"type": "String"
					},
					{
						"name": "octaves_22",
						"type": "String"
					},
					{
						"name": "octaves_23",
						"type": "String"
					},
					{
						"name": "octaves_24",
						"type": "String"
					},
					{
						"name": "octaves_25",
						"type": "String"
					},
					{
						"name": "octaves_26",
						"type": "String"
					},
					{
						"name": "octaves_27",
						"type": "String"
					},
					{
						"name": "octaves_28",
						"type": "String"
					},
					{
						"name": "octaves_29",
						"type": "String"
					},
					{
						"name": "octaves_30",
						"type": "String"
					},
					{
						"name": "octaves_31",
						"type": "String"
					},
					{
						"name": "octaves_32",
						"type": "String"
					},
					{
						"name": "octaves_33",
						"type": "String"
					},
					{
						"name": "e_compass_correction",
						"type": "String"
					},
					{
						"name": "direction_xy",
						"type": "String"
					},
					{
						"name": "energy_xy",
						"type": "String"
					},
					{
						"name": "direction_z",
						"type": "String"
					},
					{
						"name": "energy_z",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_0",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_1",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_2",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_3",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_4",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_5",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_6",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_7",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_8",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_9",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_10",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_11",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_12",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_13",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_14",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_15",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_16",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_17",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_18",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_19",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_20",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_21",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_22",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_23",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_24",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_25",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_26",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_27",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_28",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_29",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_30",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_31",
						"type": "String"
					},
					{
						"name": "energy_dist_z_0",
						"type": "String"
					},
					{
						"name": "energy_dist_z_1",
						"type": "String"
					},
					{
						"name": "energy_dist_z_2",
						"type": "String"
					},
					{
						"name": "energy_dist_z_3",
						"type": "String"
					},
					{
						"name": "energy_dist_z_4",
						"type": "String"
					},
					{
						"name": "energy_dist_z_5",
						"type": "String"
					},
					{
						"name": "energy_dist_z_6",
						"type": "String"
					},
					{
						"name": "energy_dist_z_7",
						"type": "String"
					},
					{
						"name": "energy_dist_z_8",
						"type": "String"
					},
					{
						"name": "energy_dist_z_9",
						"type": "String"
					},
					{
						"name": "energy_dist_z_10",
						"type": "String"
					},
					{
						"name": "energy_dist_z_11",
						"type": "String"
					},
					{
						"name": "energy_dist_z_12",
						"type": "String"
					},
					{
						"name": "energy_dist_z_13",
						"type": "String"
					},
					{
						"name": "energy_dist_z_14",
						"type": "String"
					},
					{
						"name": "energy_dist_z_15",
						"type": "String"
					},
					{
						"name": "energy_dist_z_16",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerLoggerSN_65123')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "svlconvLogrSvlToRaNmsChunkFiles",
							"type": "PipelineReference"
						},
						"parameters": {
							"TriggerFilePath": "@{pipeline().parameters.triggerFilePath}",
							"TriggerFolderPath": "@{pipeline().parameters.triggerFolderPath}"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/nms-files-sync-aws/blobs/files/SV_200A_65123/",
					"blobPathEndsWith": "SVL",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/73fcf868-2d25-43c5-a736-162a94432e65/resourceGroups/ra-rg-central-01/providers/Microsoft.Storage/storageAccounts/rastoracc02",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerLoggerSN_65169')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "svlconvLogrSvlToRaNmsChunkFiles",
							"type": "PipelineReference"
						},
						"parameters": {
							"TriggerFilePath": "@{pipeline().parameters.triggerFilePath}",
							"TriggerFolderPath": "@{pipeline().parameters.triggerFolderPath}"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/nms-files-sync-aws/blobs/files/SV_200A_65169/",
					"blobPathEndsWith": "SVL",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/73fcf868-2d25-43c5-a736-162a94432e65/resourceGroups/ra-rg-central-01/providers/Microsoft.Storage/storageAccounts/rastoracc02",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerLoggerSN_65170')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "svlconvLogrSvlToRaNmsChunkFiles",
							"type": "PipelineReference"
						},
						"parameters": {
							"TriggerFilePath": "@{pipeline().parameters.triggerFilePath}",
							"TriggerFolderPath": "@{pipeline().parameters.triggerFolderPath}"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/nms-files-sync-aws/blobs/files/SV_200A_65170/",
					"blobPathEndsWith": "SVL",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/73fcf868-2d25-43c5-a736-162a94432e65/resourceGroups/ra-rg-central-01/providers/Microsoft.Storage/storageAccounts/rastoracc02",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerLoggerSN_65173')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "svlconvLogrSvlToRaNmsChunkFiles",
							"type": "PipelineReference"
						},
						"parameters": {
							"TriggerFilePath": "@{pipeline().parameters.triggerFilePath}",
							"TriggerFolderPath": "@{pipeline().parameters.triggerFolderPath}"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/nms-files-sync-aws/blobs/files/SV_200A_65173/",
					"blobPathEndsWith": "SVL",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/73fcf868-2d25-43c5-a736-162a94432e65/resourceGroups/ra-rg-central-01/providers/Microsoft.Storage/storageAccounts/rastoracc02",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerLoggerSN_65186')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "svlconvLogrSvlToRaNmsChunkFiles",
							"type": "PipelineReference"
						},
						"parameters": {
							"TriggerFilePath": "@{pipeline().parameters.triggerFilePath}",
							"TriggerFolderPath": "@{pipeline().parameters.triggerFolderPath}"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/nms-files-sync-aws/blobs/files/SV_200A_65186/",
					"blobPathEndsWith": "SVL",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/73fcf868-2d25-43c5-a736-162a94432e65/resourceGroups/ra-rg-central-01/providers/Microsoft.Storage/storageAccounts/rastoracc02",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerNewSvlFile')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/nms-files-sync-aws/blobs/files/SV_200A_65170/",
					"blobPathEndsWith": ".SVL",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/73fcf868-2d25-43c5-a736-162a94432e65/resourceGroups/ra-rg-central-01/providers/Microsoft.Storage/storageAccounts/rastoracc02",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerSVLFilesGlobal')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/nms-files-sync-aws/blobs/",
					"blobPathEndsWith": "SVL",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/73fcf868-2d25-43c5-a736-162a94432e65/resourceGroups/ra-rg-central-01/providers/Microsoft.Storage/storageAccounts/rastoracc02",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		}
	]
}