ra-df-01/PartialArmTemplates/ArmTemplate_10_1_2021_10_12_13.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ra-df-01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/svlconvToRaNmsChunkFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "svl-conv",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "SetTriggerFilePath",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "powershell \"ls\"\n\npowershell \"Write-Host 'calling Expand-Archive'\"\n\n\npowershell \"Expand-Archive -Path svlconv.zip -Destination .\"\n\npowershell \"Write-Host 'running python svlconv' \"\n\n# download files from blob container \n\npowershell \" azcopy copy  'https://rastoracc02.blob.core.windows.net/nms-files-sync-aws?sv=2020-04-08&st=2021-09-30T05%3A36%3A23Z&se=2025-10-01T05%3A36%3A00Z&sr=c&sp=racwdxlt&sig=cpZ5cvnSypBK2MLh4%2B9buGQ%2FOizjqO6Dv8q2svJ4K5Y%3D'   '.\\L@{variables('ChunkId')}.SVL' --include-pattern L@{variables('ChunkId')}.SVL --recursive \"\n\npowershell \"python ra-SvlConvToText\\main.py 'L@{variables('ChunkId')}.SVL \"\n\npowershell \" azcopy copy '.\\'         'https://rastoracc02.blob.core.windows.net/nms-files-sync-aws?sv=2020-04-08&st=2021-09-30T05%3A36%3A23Z&se=2025-10-01T05%3A36%3A00Z&sr=c&sp=racwdxlt&sig=cpZ5cvnSypBK2MLh4%2B9buGQ%2FOizjqO6Dv8q2svJ4K5Y%3D'  --include-pattern 'L@{variables('ChunkId')}*.json;@{variables('ChunkId')}_*.csv'  --recursive \"\n\n\n# upload results to blob container",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "svlconv-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SetTriggerFilePath",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vTriggerFilePAth",
							"value": {
								"value": "@{pipeline().parameters.triggerFilePath}",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"TriggerFilePath": {
						"type": "string"
					}
				},
				"variables": {
					"vTriggerFilePAth": {
						"type": "String"
					},
					"ChunkId": {
						"type": "String",
						"defaultValue": "89155"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerNewSvlFile')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "svlconvToRaNmsChunkFiles",
							"type": "PipelineReference"
						},
						"parameters": {
							"TriggerFilePath": "@trigger().outputs.body.fileName"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/nms-files-sync-aws/blobs/",
					"blobPathEndsWith": "*.SVL",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/73fcf868-2d25-43c5-a736-162a94432e65/resourceGroups/ra-rg-central-01/providers/Microsoft.Storage/storageAccounts/rastoracc02",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/svlconvToRaNmsChunkFiles')]"
			]
		}
	]
}