ra-df-01/PartialArmTemplates/ArmTemplate_11_2_2021_7_51_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ra-df-01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/svlconvLogrSvlToRaNmsChunkFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "svl-conv-single-file",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "SetFullFilePath",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "/bin/sh -c '\necho \"    \"\necho \" before unzip \"\nunzip SvlConv.zip\necho \"    \"\necho \" unzip zip \"\nls\necho \"    \"\necho \" running python \"\npython svl2docs_pipeline.py @{variables('TriggerFileName')}\necho \"    \"\necho \"  end of ADF Batch custom activity command  \"\n'",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "svlconv-2",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatchDs",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SetTriggerFileName",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "TriggerFileName",
							"value": {
								"value": "@{pipeline().parameters.triggerFilePath}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetTriggerFolderPath",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "TriggerFolderPath",
							"value": {
								"value": "@{pipeline().parameters.TriggerFolderPath}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetFullFilePath",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SetTriggerFileName",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SetTriggerFolderPath",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "FileFullPath",
							"value": {
								"value": "@concat(variables('TriggerFolderPath'),'/',variables('TriggerFileName'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "cmd test",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "SetFullFilePath",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "/bin/sh -c '\necho \"before unzip\"\nls\necho \"unzipping......\"\nunzip SvlConv.zip \necho \"after unzip\"\nls\n'",
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "svlconv-2",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatchDs",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"triggerFilePath": {
						"type": "string",
						"defaultValue": "L89239.SVL"
					},
					"triggerFolderPath": {
						"type": "string",
						"defaultValue": "nms-files-sync-aws/files/SV_200A_65170"
					}
				},
				"variables": {
					"TriggerFileName": {
						"type": "String"
					},
					"ChunkId": {
						"type": "String",
						"defaultValue": "89155"
					},
					"TriggerFolderPath": {
						"type": "String"
					},
					"FileFullPath": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}