ra-df-01/PartialArmTemplates/ArmTemplate_11_1_2021_7_27_18.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ra-df-01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/python-test_chunkid-w-params')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "call py func with params",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "python ChunkId_cmd.py \"L90353_records.csv\"",
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatchDs",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "call py func with params",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "chunkid",
							"value": {
								"value": "@activity('call py func with params').output.CustomOutput.ChunkId",
								"type": "Expression"
							}
						}
					},
					{
						"name": "call py func with params_copy1",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "python ChunkId_cmd.py \"L90353_records.csv\"",
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatchDs",
							"type": "LinkedServiceReference"
						}
					}
				],
				"variables": {
					"chunkid": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBatchDs')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ra-func-compliance')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CheckForSensorFeedQuorum",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"preferredRegions": []
							},
							"dataset": {
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": "nms-items"
								}
							}
						}
					},
					{
						"name": "SensorFeedQuorumExists",
						"type": "Switch",
						"dependsOn": [
							{
								"activity": "CheckForSensorFeedQuorum",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@activity('CheckForSensorFeedQuorum').output.quorumExists",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "Case1",
									"activities": [
										{
											"name": "QueryPreProLogger_copy1",
											"type": "SetVariable",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"variableName": "queryResult",
												"value": "'ok'"
											}
										},
										{
											"name": "FindLocksSWLs",
											"type": "Custom",
											"dependsOn": [
												{
													"activity": "QueryPreProLogger_copy1",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"command": "powershell \"python cmdFindLocksSWLs.py\"",
												"referenceObjects": {
													"linkedServices": [],
													"datasets": []
												}
											},
											"linkedServiceName": {
												"referenceName": "AzureBatchDs",
												"type": "LinkedServiceReference"
											}
										},
										{
											"name": "FindSPL",
											"type": "Custom",
											"dependsOn": [
												{
													"activity": "FindLocksSWLs",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"command": "powershell \"python cmdFindSPL.py\"",
												"referenceObjects": {
													"linkedServices": [],
													"datasets": []
												}
											},
											"linkedServiceName": {
												"referenceName": "AzureBatchDs",
												"type": "LinkedServiceReference"
											}
										},
										{
											"name": "QuerySWLs_copy1",
											"type": "SetVariable",
											"dependsOn": [
												{
													"activity": "FindLocksSWLs",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"userProperties": [],
											"typeProperties": {
												"variableName": "queryResult",
												"value": "'ok'"
											}
										},
										{
											"name": "QuerySPLs_copy1",
											"type": "SetVariable",
											"dependsOn": [
												{
													"activity": "FindSPL",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"userProperties": [],
											"typeProperties": {
												"variableName": "queryResult",
												"value": "'ok'"
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"radbContainer": {
						"type": "string",
						"defaultValue": "nms-items"
					},
					"blobContainerName": {
						"type": "string",
						"defaultValue": "nms-files-input"
					},
					"triggerFilePath": {
						"type": "string",
						"defaultValue": "L89174_records.csv"
					},
					"ChunkID": {
						"type": "string",
						"defaultValue": "89174\t"
					},
					"raPipelineId": {
						"type": "string",
						"defaultValue": "f97597f2-68e0-4cfc-b61c-c2de8bf4775e"
					},
					"nmsHeaderStartTime": {
						"type": "string",
						"defaultValue": "2021-10-03T04:00:00"
					}
				},
				"variables": {
					"RowNo": {
						"type": "String",
						"defaultValue": "0"
					},
					"triggerFileName": {
						"type": "String"
					},
					"chunkId": {
						"type": "String"
					},
					"queryResult": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-24T05:45:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBatchDs')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/svlconvLogrSvlToRaNmsChunkFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "svl-conv-single-file",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "SetFullFilePath",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "/bin/bash/ -c unzip SVLConv.zip && cd svlconv && python svl2docs_pipeline.py @{variables('TriggerFileName')}",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "svlconv-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatchDs",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SetTriggerFileName",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "TriggerFileName",
							"value": {
								"value": "@{pipeline().parameters.triggerFilePath}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetTriggerFolderPath",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "TriggerFolderPath",
							"value": {
								"value": "@{pipeline().parameters.TriggerFolderPath}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetFullFilePath",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SetTriggerFileName",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SetTriggerFolderPath",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "FileFullPath",
							"value": {
								"value": "@concat(variables('TriggerFolderPath'),'/',variables('TriggerFileName'))",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"triggerFilePath": {
						"type": "string",
						"defaultValue": "L89289.SVL"
					},
					"triggerFolderPath": {
						"type": "string",
						"defaultValue": "nms-files-sync-aws/files/SV_200A_65170"
					}
				},
				"variables": {
					"TriggerFileName": {
						"type": "String"
					},
					"ChunkId": {
						"type": "String",
						"defaultValue": "89155"
					},
					"TriggerFolderPath": {
						"type": "String"
					},
					"FileFullPath": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBatchDs')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/svlconvToRaNmsChunkFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "svl-conv",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "SetTriggerFilePath",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "powershell \"Expand-Archive svlconv.zip -DestinationPath .; ls; .\\cmdSvlConv.ps1; ls\"",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "svlconv-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatchDs",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SetTriggerFilePath",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vTriggerFilePAth",
							"value": {
								"value": "@{pipeline().parameters.triggerFilePath}",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"TriggerFilePath": {
						"type": "string"
					},
					"TriggerFolderPath": {
						"type": "string"
					}
				},
				"variables": {
					"vTriggerFilePAth": {
						"type": "String"
					},
					"ChunkId": {
						"type": "String",
						"defaultValue": "89155"
					}
				},
				"folder": {
					"name": "archive"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBatchDs')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBatchDs')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"batchUri": "https://rasebatchacc05.australiasoutheast.batch.azure.com",
					"poolName": "pool-ds3",
					"accountName": "rasebatchacc05",
					"linkedServiceName": {
						"referenceName": "batchStorage",
						"type": "LinkedServiceReference"
					},
					"accessKey": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		}
	]
}