ra-df-01/PartialArmTemplates/ArmTemplate_9_13_2021_13_36_13.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ra-df-01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ingest-new-nms-files-to-radb')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy-header-to-radb",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy-gps-csv-to-radb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "RaPipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "NmsFile",
										"value": "$$FILEPATH"
									},
									{
										"name": "NmsDocumentType",
										"value": {
											"value": "@concat('header')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*_header.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "NMSMeasurementJSON",
								"type": "DatasetReference",
								"parameters": {
									"chunkid": {
										"value": "@variables('chunkId')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.radbContainer",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy-summary-to-radb",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy-header-to-radb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "RaPipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "NmsFile",
										"value": "$$FILEPATH"
									},
									{
										"name": "NmsDocumentType",
										"value": {
											"value": "@concat('summary')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*_summary.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "NMSMeasurementJSON",
								"type": "DatasetReference",
								"parameters": {
									"chunkid": {
										"value": "@variables('chunkId')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.radbContainer",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy-gps-csv-to-radb",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "derive-nms-measurement-timestamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "RaPipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "NmsFile",
										"value": "$$FILEPATH"
									},
									{
										"name": "NmsDocumentType",
										"value": {
											"value": "@concat('gps')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*_gps.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "nmsMeasCSV2",
								"type": "DatasetReference",
								"parameters": {
									"chunkid": {
										"value": "@variables('chunkId')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.radbContainer",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "validate-incoming-chunk",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "Set-incoming-file-name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "python ChunkId_cmd.py \"@{pipeline().parameters.triggerFilePath}\"",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set-incoming-file-name",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "triggerFileName",
							"value": {
								"value": "@pipeline().parameters.triggerFilePath",
								"type": "Expression"
							}
						}
					},
					{
						"name": "assert-chunk-acquire-success",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "validate-incoming-chunk",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "chunkId",
							"value": {
								"value": "@string(int(activity('validate-incoming-chunk').output.customOutput.ChunkId))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Invoke-preprologger-function",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "Copy-summary-to-radb",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy-records-csv-to-radb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "python cmd_PreProLogger.py \"@{pipeline().RunId}\", \"@{variables('chunkId')}\", \"1\"",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "query-results",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Invoke-preprologger-function",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "queryResult",
							"value": "'ok'"
						}
					},
					{
						"name": "derive-nms-measurement-timestamp",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "assert-chunk-acquire-success",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "python raNmsRecords_Derive_Timestamp.py --ifile @{pipeline().parameters.triggerFilePath} --chunkid @{variables('chunkId')}",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy-records-csv-to-radb",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "derive-nms-measurement-timestamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "RaPipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "NmsFile",
										"value": "$$FILEPATH"
									},
									{
										"name": "NmsDocumentType",
										"value": {
											"value": "@concat('records')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*_records_with_derived_timestamp.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "nmsRecordsCsv",
								"type": "DatasetReference",
								"parameters": {
									"chunkid": {
										"value": "@variables('chunkId')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "radbRecords",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"radbContainer": {
						"type": "string",
						"defaultValue": "nms-items"
					},
					"blobContainerName": {
						"type": "string",
						"defaultValue": "nms-files-input"
					},
					"triggerFilePath": {
						"type": "string",
						"defaultValue": "L88981_records.csv"
					}
				},
				"variables": {
					"RowNo": {
						"type": "String",
						"defaultValue": "0"
					},
					"triggerFileName": {
						"type": "String"
					},
					"chunkId": {
						"type": "String"
					},
					"queryResult": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-24T05:45:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/NMSMeasurementJSON')]",
				"[concat(variables('factoryId'), '/datasets/nmsMeasCSV2')]",
				"[concat(variables('factoryId'), '/datasets/nmsRecordsCsv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NMSMeasurementJSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "rablobservice",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"chunkid": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "L@{dataset().chunkid}_header.json",
							"type": "Expression"
						},
						"container": "nms-files-input"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"unit_spec": {
							"type": "object",
							"properties": {
								"class_name": {
									"type": "string"
								},
								"unit_number": {
									"type": "integer"
								},
								"unit_type": {
									"type": "integer"
								},
								"software_version": {
									"type": "integer"
								},
								"software_issue_date": {
									"type": "string"
								},
								"device_mode": {
									"type": "integer"
								},
								"unit_subtype": {
									"type": "integer"
								},
								"file_system_version": {
									"type": "integer"
								},
								"level_meter_version": {
									"type": "integer"
								},
								"software_subversion": {
									"type": "integer"
								}
							}
						},
						"params_global_settings": {
							"type": "object",
							"properties": {
								"class_name": {
									"type": "string"
								},
								"measure_start_datetime": {
									"type": "string"
								},
								"measure_input": {
									"type": "integer"
								},
								"range": {
									"type": "integer"
								},
								"unit_flags": {
									"type": "integer"
								},
								"rep_cycle": {
									"type": "integer"
								},
								"num_profiles": {
									"type": "integer"
								},
								"start_delay": {
									"type": "string"
								},
								"integration_time": {
									"type": "integer"
								},
								"stat_detector": {
									"type": "integer"
								},
								"leq_function": {
									"type": "integer"
								},
								"spectrum_filter": {
									"type": "string"
								},
								"spectrum_buffer": {
									"type": "integer"
								},
								"spectrum_detector": {
									"type": "integer"
								},
								"start_sync": {
									"type": "integer"
								},
								"spectrum_band": {
									"type": "integer"
								},
								"mic_compensation": {
									"type": "integer"
								},
								"calibration_type": {
									"type": "integer"
								},
								"calibration_datetime": {
									"type": "string"
								},
								"outdoor_filter": {
									"type": "integer"
								},
								"outdoor_type": {
									"type": "integer"
								},
								"main_results_buffer": {
									"type": "integer"
								},
								"split_mode": {
									"type": "integer"
								},
								"split_times": {
									"type": "null"
								},
								"gps_last_sync_time": {
									"type": "integer"
								},
								"statistics_cycle": {
									"type": "integer"
								},
								"measure_start_datetime_ms": {
									"type": "string"
								},
								"num_dir_dist_elements_xy": {
									"type": "integer"
								},
								"num_dir_dist_elements_z": {
									"type": "integer"
								},
								"dir_results_buffer": {
									"type": "integer"
								},
								"logger_main_profiles": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"logger_main_common": {
									"type": "integer"
								},
								"logger_stat_profiles": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"segment_masks": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								}
							}
						},
						"summary_main_results": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"class_name": {
										"type": "string"
									},
									"lxpeak_value": {
										"type": "number"
									},
									"lxye_value": {
										"type": "number"
									},
									"lxymax_value": {
										"type": "number"
									},
									"lxymin_value": {
										"type": "number"
									},
									"lxy_value": {
										"type": "number"
									},
									"lxyeq_value": {
										"type": "number"
									},
									"lden_value": {
										"type": "number"
									},
									"ltm3_value": {
										"type": "number"
									},
									"ltm5_value": {
										"type": "number"
									},
									"lr1_value": {
										"type": "number"
									},
									"lr2_value": {
										"type": "number"
									},
									"le1_value": {
										"type": "number"
									},
									"le2_value": {
										"type": "number"
									}
								}
							}
						},
						"summary_octave_analysis_results": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"class_name": {
										"type": "string"
									},
									"lowest_frequency": {
										"type": "number"
									},
									"num_octave_values": {
										"type": "integer"
									},
									"num_total_values": {
										"type": "integer"
									},
									"octaves": {
										"type": "array",
										"items": {
											"type": "number"
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/nmsMeasCSV2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "rablobservice",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"chunkid": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "L@{dataset().chunkid}_records.csv",
							"type": "Expression"
						},
						"container": "nms-files-input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "flag",
						"type": "String"
					},
					{
						"name": "measurements_0",
						"type": "String"
					},
					{
						"name": "measurements_1",
						"type": "String"
					},
					{
						"name": "measurements_2",
						"type": "String"
					},
					{
						"name": "measurements_3",
						"type": "String"
					},
					{
						"name": "measurements_4",
						"type": "String"
					},
					{
						"name": "measurements_5",
						"type": "String"
					},
					{
						"name": "measurements_6",
						"type": "String"
					},
					{
						"name": "measurements_7",
						"type": "String"
					},
					{
						"name": "measurements_8",
						"type": "String"
					},
					{
						"name": "measurements_9",
						"type": "String"
					},
					{
						"name": "measurements_10",
						"type": "String"
					},
					{
						"name": "measurements_11",
						"type": "String"
					},
					{
						"name": "measurements_12",
						"type": "String"
					},
					{
						"name": "measurements_13",
						"type": "String"
					},
					{
						"name": "measurements_14",
						"type": "String"
					},
					{
						"name": "measurements_15",
						"type": "String"
					},
					{
						"name": "measurements_16",
						"type": "String"
					},
					{
						"name": "measurements_17",
						"type": "String"
					},
					{
						"name": "octaves_0",
						"type": "String"
					},
					{
						"name": "octaves_1",
						"type": "String"
					},
					{
						"name": "octaves_2",
						"type": "String"
					},
					{
						"name": "octaves_3",
						"type": "String"
					},
					{
						"name": "octaves_4",
						"type": "String"
					},
					{
						"name": "octaves_5",
						"type": "String"
					},
					{
						"name": "octaves_6",
						"type": "String"
					},
					{
						"name": "octaves_7",
						"type": "String"
					},
					{
						"name": "octaves_8",
						"type": "String"
					},
					{
						"name": "octaves_9",
						"type": "String"
					},
					{
						"name": "octaves_10",
						"type": "String"
					},
					{
						"name": "octaves_11",
						"type": "String"
					},
					{
						"name": "octaves_12",
						"type": "String"
					},
					{
						"name": "octaves_13",
						"type": "String"
					},
					{
						"name": "octaves_14",
						"type": "String"
					},
					{
						"name": "octaves_15",
						"type": "String"
					},
					{
						"name": "octaves_16",
						"type": "String"
					},
					{
						"name": "octaves_17",
						"type": "String"
					},
					{
						"name": "octaves_18",
						"type": "String"
					},
					{
						"name": "octaves_19",
						"type": "String"
					},
					{
						"name": "octaves_20",
						"type": "String"
					},
					{
						"name": "octaves_21",
						"type": "String"
					},
					{
						"name": "octaves_22",
						"type": "String"
					},
					{
						"name": "octaves_23",
						"type": "String"
					},
					{
						"name": "octaves_24",
						"type": "String"
					},
					{
						"name": "octaves_25",
						"type": "String"
					},
					{
						"name": "octaves_26",
						"type": "String"
					},
					{
						"name": "octaves_27",
						"type": "String"
					},
					{
						"name": "octaves_28",
						"type": "String"
					},
					{
						"name": "octaves_29",
						"type": "String"
					},
					{
						"name": "octaves_30",
						"type": "String"
					},
					{
						"name": "octaves_31",
						"type": "String"
					},
					{
						"name": "octaves_32",
						"type": "String"
					},
					{
						"name": "octaves_33",
						"type": "String"
					},
					{
						"name": "e_compass_correction",
						"type": "String"
					},
					{
						"name": "direction_xy",
						"type": "String"
					},
					{
						"name": "energy_xy",
						"type": "String"
					},
					{
						"name": "direction_z",
						"type": "String"
					},
					{
						"name": "energy_z",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_0",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_1",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_2",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_3",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_4",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_5",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_6",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_7",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_8",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_9",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_10",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_11",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_12",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_13",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_14",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_15",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_16",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_17",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_18",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_19",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_20",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_21",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_22",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_23",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_24",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_25",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_26",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_27",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_28",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_29",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_30",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_31",
						"type": "String"
					},
					{
						"name": "energy_dist_z_0",
						"type": "String"
					},
					{
						"name": "energy_dist_z_1",
						"type": "String"
					},
					{
						"name": "energy_dist_z_2",
						"type": "String"
					},
					{
						"name": "energy_dist_z_3",
						"type": "String"
					},
					{
						"name": "energy_dist_z_4",
						"type": "String"
					},
					{
						"name": "energy_dist_z_5",
						"type": "String"
					},
					{
						"name": "energy_dist_z_6",
						"type": "String"
					},
					{
						"name": "energy_dist_z_7",
						"type": "String"
					},
					{
						"name": "energy_dist_z_8",
						"type": "String"
					},
					{
						"name": "energy_dist_z_9",
						"type": "String"
					},
					{
						"name": "energy_dist_z_10",
						"type": "String"
					},
					{
						"name": "energy_dist_z_11",
						"type": "String"
					},
					{
						"name": "energy_dist_z_12",
						"type": "String"
					},
					{
						"name": "energy_dist_z_13",
						"type": "String"
					},
					{
						"name": "energy_dist_z_14",
						"type": "String"
					},
					{
						"name": "energy_dist_z_15",
						"type": "String"
					},
					{
						"name": "energy_dist_z_16",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/nmsRecordsCsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "rablobservice",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"chunkid": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "L@{dataset().chunkid}_records_rownumbered.csv",
							"type": "Expression"
						},
						"container": "nms-files-input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "RowNumber",
						"type": "String"
					},
					{
						"name": " flag",
						"type": "String"
					},
					{
						"name": "measurements_0",
						"type": "String"
					},
					{
						"name": "measurements_1",
						"type": "String"
					},
					{
						"name": "measurements_2",
						"type": "String"
					},
					{
						"name": "measurements_3",
						"type": "String"
					},
					{
						"name": "measurements_4",
						"type": "String"
					},
					{
						"name": "measurements_5",
						"type": "String"
					},
					{
						"name": "measurements_6",
						"type": "String"
					},
					{
						"name": "measurements_7",
						"type": "String"
					},
					{
						"name": "measurements_8",
						"type": "String"
					},
					{
						"name": "measurements_9",
						"type": "String"
					},
					{
						"name": "measurements_10",
						"type": "String"
					},
					{
						"name": "measurements_11",
						"type": "String"
					},
					{
						"name": "measurements_12",
						"type": "String"
					},
					{
						"name": "measurements_13",
						"type": "String"
					},
					{
						"name": "measurements_14",
						"type": "String"
					},
					{
						"name": "measurements_15",
						"type": "String"
					},
					{
						"name": "measurements_16",
						"type": "String"
					},
					{
						"name": "measurements_17",
						"type": "String"
					},
					{
						"name": "octaves_0",
						"type": "String"
					},
					{
						"name": "octaves_1",
						"type": "String"
					},
					{
						"name": "octaves_2",
						"type": "String"
					},
					{
						"name": "octaves_3",
						"type": "String"
					},
					{
						"name": "octaves_4",
						"type": "String"
					},
					{
						"name": "octaves_5",
						"type": "String"
					},
					{
						"name": "octaves_6",
						"type": "String"
					},
					{
						"name": "octaves_7",
						"type": "String"
					},
					{
						"name": "octaves_8",
						"type": "String"
					},
					{
						"name": "octaves_9",
						"type": "String"
					},
					{
						"name": "octaves_10",
						"type": "String"
					},
					{
						"name": "octaves_11",
						"type": "String"
					},
					{
						"name": "octaves_12",
						"type": "String"
					},
					{
						"name": "octaves_13",
						"type": "String"
					},
					{
						"name": "octaves_14",
						"type": "String"
					},
					{
						"name": "octaves_15",
						"type": "String"
					},
					{
						"name": "octaves_16",
						"type": "String"
					},
					{
						"name": "octaves_17",
						"type": "String"
					},
					{
						"name": "octaves_18",
						"type": "String"
					},
					{
						"name": "octaves_19",
						"type": "String"
					},
					{
						"name": "octaves_20",
						"type": "String"
					},
					{
						"name": "octaves_21",
						"type": "String"
					},
					{
						"name": "octaves_22",
						"type": "String"
					},
					{
						"name": "octaves_23",
						"type": "String"
					},
					{
						"name": "octaves_24",
						"type": "String"
					},
					{
						"name": "octaves_25",
						"type": "String"
					},
					{
						"name": "octaves_26",
						"type": "String"
					},
					{
						"name": "octaves_27",
						"type": "String"
					},
					{
						"name": "octaves_28",
						"type": "String"
					},
					{
						"name": "octaves_29",
						"type": "String"
					},
					{
						"name": "octaves_30",
						"type": "String"
					},
					{
						"name": "octaves_31",
						"type": "String"
					},
					{
						"name": "octaves_32",
						"type": "String"
					},
					{
						"name": "octaves_33",
						"type": "String"
					},
					{
						"name": "e_compass_correction",
						"type": "String"
					},
					{
						"name": "direction_xy",
						"type": "String"
					},
					{
						"name": "energy_xy",
						"type": "String"
					},
					{
						"name": "direction_z",
						"type": "String"
					},
					{
						"name": "energy_z",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_0",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_1",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_2",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_3",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_4",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_5",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_6",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_7",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_8",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_9",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_10",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_11",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_12",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_13",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_14",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_15",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_16",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_17",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_18",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_19",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_20",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_21",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_22",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_23",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_24",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_25",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_26",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_27",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_28",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_29",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_30",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_31",
						"type": "String"
					},
					{
						"name": "energy_dist_z_0",
						"type": "String"
					},
					{
						"name": "energy_dist_z_1",
						"type": "String"
					},
					{
						"name": "energy_dist_z_2",
						"type": "String"
					},
					{
						"name": "energy_dist_z_3",
						"type": "String"
					},
					{
						"name": "energy_dist_z_4",
						"type": "String"
					},
					{
						"name": "energy_dist_z_5",
						"type": "String"
					},
					{
						"name": "energy_dist_z_6",
						"type": "String"
					},
					{
						"name": "energy_dist_z_7",
						"type": "String"
					},
					{
						"name": "energy_dist_z_8",
						"type": "String"
					},
					{
						"name": "energy_dist_z_9",
						"type": "String"
					},
					{
						"name": "energy_dist_z_10",
						"type": "String"
					},
					{
						"name": "energy_dist_z_11",
						"type": "String"
					},
					{
						"name": "energy_dist_z_12",
						"type": "String"
					},
					{
						"name": "energy_dist_z_13",
						"type": "String"
					},
					{
						"name": "energy_dist_z_14",
						"type": "String"
					},
					{
						"name": "energy_dist_z_15",
						"type": "String"
					},
					{
						"name": "energy_dist_z_16",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		}
	]
}