ra-df-01/PartialArmTemplates/ArmTemplate_10_2_2021_5_2_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ra-df-01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/svlconvLogrSvlToRaNmsChunkFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "svl-conv-single-file",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "SetFullFilePath",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "powershell \"Expand-Archive svlconv.zip -DestinationPath .; ls; .\\cmdSvlConv.ps1; ls\"",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "svlconv-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SetTriggerFileName",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "TriggerFileName",
							"value": {
								"value": "@{pipeline().parameters.triggerFilePath}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetTriggerFolderPath",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "TriggerFolderPath",
							"value": {
								"value": "@{pipeline().parameters.TriggerFolderPath}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetFullFilePath",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SetTriggerFileName",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SetTriggerFolderPath",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "FileFullPath",
							"value": {
								"value": "@concat(variables('TriggerFolderPath'),variables('TriggerFileName'))",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"TriggerFilePath": {
						"type": "string"
					},
					"TriggerFolderPath": {
						"type": "string"
					}
				},
				"variables": {
					"TriggerFileName": {
						"type": "String"
					},
					"ChunkId": {
						"type": "String",
						"defaultValue": "89155"
					},
					"TriggerFolderPath": {
						"type": "String"
					},
					"FileFullPath": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/svlconvToRaNmsChunkFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "svl-conv",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "SetTriggerFilePath",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "powershell \"Expand-Archive svlconv.zip -DestinationPath .; ls; .\\cmdSvlConv.ps1; ls\"",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "svlconv-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SetTriggerFilePath",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vTriggerFilePAth",
							"value": {
								"value": "@{pipeline().parameters.triggerFilePath}",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"TriggerFilePath": {
						"type": "string"
					},
					"TriggerFolderPath": {
						"type": "string"
					}
				},
				"variables": {
					"vTriggerFilePAth": {
						"type": "String"
					},
					"ChunkId": {
						"type": "String",
						"defaultValue": "89155"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}