ra-df-01/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ra-df-01"
		},
		"AzureBatch5_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'AzureBatch5'"
		},
		"AzureBatchDs_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'AzureBatchDs'"
		},
		"AzureBatch4_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://rasebatchacc05.australiasoutheast.batch.azure.com"
		},
		"AzureBatch4_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "pool-9-1"
		},
		"AzureBatch4_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "rasebatchacc05 "
		},
		"AzureBatch5_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://rasebatchacc05.australiasoutheast.batch.azure.com"
		},
		"AzureBatch5_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "pool-9-2"
		},
		"AzureBatch5_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "rasebatchacc05 "
		},
		"AzureBatchDs_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://rasebatchacc05.australiasoutheast.batch.azure.com"
		},
		"AzureBatchDs_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "pool-ds"
		},
		"AzureBatchDs_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "rasebatchacc05"
		},
		"triggerLoggerSN_65123_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFilePath": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.fileName"
		},
		"triggerLoggerSN_65123_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFolderPath": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.folderPath"
		},
		"triggerLoggerSN_65123_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/73fcf868-2d25-43c5-a736-162a94432e65/resourceGroups/ra-rg-central-01/providers/Microsoft.Storage/storageAccounts/rastoracc02"
		},
		"triggerLoggerSN_65169_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFilePath": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.fileName"
		},
		"triggerLoggerSN_65169_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFolderPath": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.folderPath"
		},
		"triggerLoggerSN_65169_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/73fcf868-2d25-43c5-a736-162a94432e65/resourceGroups/ra-rg-central-01/providers/Microsoft.Storage/storageAccounts/rastoracc02"
		},
		"triggerLoggerSN_65170_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFilePath": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.fileName"
		},
		"triggerLoggerSN_65170_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFolderPath": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.folderPath"
		},
		"triggerLoggerSN_65170_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/73fcf868-2d25-43c5-a736-162a94432e65/resourceGroups/ra-rg-central-01/providers/Microsoft.Storage/storageAccounts/rastoracc02"
		},
		"triggerLoggerSN_65173_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFilePath": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.fileName"
		},
		"triggerLoggerSN_65173_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFolderPath": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.folderPath"
		},
		"triggerLoggerSN_65173_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/73fcf868-2d25-43c5-a736-162a94432e65/resourceGroups/ra-rg-central-01/providers/Microsoft.Storage/storageAccounts/rastoracc02"
		},
		"triggerLoggerSN_65186_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFilePath": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.fileName"
		},
		"triggerLoggerSN_65186_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFolderPath": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.folderPath"
		},
		"triggerLoggerSN_65186_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/73fcf868-2d25-43c5-a736-162a94432e65/resourceGroups/ra-rg-central-01/providers/Microsoft.Storage/storageAccounts/rastoracc02"
		},
		"triggerNewSourceFile_properties_ingest-new-nms-files-to-radb_parameters_radbContainer": {
			"type": "string",
			"defaultValue": "nms-items"
		},
		"triggerNewSourceFile_properties_ingest-new-nms-files-to-radb_parameters_blobContainerName": {
			"type": "string",
			"defaultValue": "nms-files-input"
		},
		"triggerNewSourceFile_properties_ingest-new-nms-files-to-radb_parameters_triggerFilePath": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.fileName"
		},
		"triggerNewSourceFile_properties_ingest-new-nms-files-to-radb_parameters_triggerFolderName": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.folderPath"
		},
		"triggerNewSourceFile_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/73fcf868-2d25-43c5-a736-162a94432e65/resourceGroups/ra-rg-central-01/providers/Microsoft.Storage/storageAccounts/rastoracc02"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBatch4')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"batchUri": "[parameters('AzureBatch4_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('AzureBatch4_properties_typeProperties_poolName')]",
					"accountName": "[parameters('AzureBatch4_properties_typeProperties_accountName')]",
					"linkedServiceName": {
						"referenceName": "batchStorage",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBatch5')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"batchUri": "[parameters('AzureBatch5_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('AzureBatch5_properties_typeProperties_poolName')]",
					"accountName": "[parameters('AzureBatch5_properties_typeProperties_accountName')]",
					"linkedServiceName": {
						"referenceName": "batchStorage",
						"type": "LinkedServiceReference"
					},
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('AzureBatch5_accessKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBatchDs')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"batchUri": "[parameters('AzureBatchDs_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('AzureBatchDs_properties_typeProperties_poolName')]",
					"accountName": "[parameters('AzureBatchDs_properties_typeProperties_accountName')]",
					"linkedServiceName": {
						"referenceName": "batchStorage",
						"type": "LinkedServiceReference"
					},
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('AzureBatchDs_accessKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/check-incoming-pipeline-sync-to-csv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"query": {
									"value": "select c.RowNumber, c.CorrectedTimestamp, c.ChunkId\nfrom c \nwhere\nc.RaPipelineId = '@{pipeline().parameters.pipeguid1}'\nand c.NmsDocumentType = 'records'\n",
									"type": "Expression"
								},
								"preferredRegions": [],
								"detectDatetime": true
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": "nms-items"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "reportcsv1",
								"type": "DatasetReference",
								"parameters": {
									"filename": {
										"value": "contact('pipeline1.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy data1_copy1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"query": {
									"value": "select c.RowNumber, c.CorrectedTimestamp, c.ChunkId\nfrom c \nwhere\nc.RaPipelineId = '@{pipeline().parameters.pipeguid2}'\nand c.NmsDocumentType = 'records'\n",
									"type": "Expression"
								},
								"preferredRegions": [],
								"detectDatetime": true
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": "nms-items"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "reportcsv1",
								"type": "DatasetReference",
								"parameters": {
									"filename": {
										"value": "concat('pipeline2.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pipeguid1": {
						"type": "string",
						"defaultValue": "9a3f2550-7c26-4cf5-af43-a12a6ef29009"
					},
					"pipeguid2": {
						"type": "string",
						"defaultValue": "58a3fa39-05e3-432c-ae71-a0033c483303"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline-python-test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Custom1",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "python radb-batch.py",
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Custom1_copy1",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "python radb-batch.py",
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBatch4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/python-test_chunkid-w-params')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "call py func with params",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "python ChunkId_cmd.py \"L90353_records.csv\"",
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "call py func with params",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "chunkid",
							"value": {
								"value": "@activity('call py func with params').output.CustomOutput.ChunkId",
								"type": "Expression"
							}
						}
					},
					{
						"name": "call py func with params_copy1",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "python ChunkId_cmd.py \"L90353_records.csv\"",
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"chunkid": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBatch4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ra-func-compliance')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CheckForSensorFeedQuorum",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"preferredRegions": []
							},
							"dataset": {
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": "nms-items"
								}
							}
						}
					},
					{
						"name": "SensorFeedQuorumExists",
						"type": "Switch",
						"dependsOn": [
							{
								"activity": "CheckForSensorFeedQuorum",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@activity('CheckForSensorFeedQuorum').output.quorumExists",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "Case1",
									"activities": [
										{
											"name": "QueryPreProLogger_copy1",
											"type": "SetVariable",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"variableName": "queryResult",
												"value": "'ok'"
											}
										},
										{
											"name": "FindLocksSWLs",
											"type": "Custom",
											"dependsOn": [
												{
													"activity": "QueryPreProLogger_copy1",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"command": "powershell \"python cmdFindLocksSWLs.py\"",
												"referenceObjects": {
													"linkedServices": [],
													"datasets": []
												}
											},
											"linkedServiceName": {
												"referenceName": "AzureBatch4",
												"type": "LinkedServiceReference"
											}
										},
										{
											"name": "FindSPL",
											"type": "Custom",
											"dependsOn": [
												{
													"activity": "FindLocksSWLs",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "7.00:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"command": "powershell \"python cmdFindSPL.py\"",
												"referenceObjects": {
													"linkedServices": [],
													"datasets": []
												}
											},
											"linkedServiceName": {
												"referenceName": "AzureBatch4",
												"type": "LinkedServiceReference"
											}
										},
										{
											"name": "QuerySWLs_copy1",
											"type": "SetVariable",
											"dependsOn": [
												{
													"activity": "FindLocksSWLs",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"userProperties": [],
											"typeProperties": {
												"variableName": "queryResult",
												"value": "'ok'"
											}
										},
										{
											"name": "QuerySPLs_copy1",
											"type": "SetVariable",
											"dependsOn": [
												{
													"activity": "FindSPL",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"userProperties": [],
											"typeProperties": {
												"variableName": "queryResult",
												"value": "'ok'"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"radbContainer": {
						"type": "string",
						"defaultValue": "nms-items"
					},
					"blobContainerName": {
						"type": "string",
						"defaultValue": "nms-files-input"
					},
					"triggerFilePath": {
						"type": "string",
						"defaultValue": "L89174_records.csv"
					},
					"ChunkID": {
						"type": "string",
						"defaultValue": "89174\t"
					},
					"raPipelineId": {
						"type": "string",
						"defaultValue": "f97597f2-68e0-4cfc-b61c-c2de8bf4775e"
					},
					"nmsHeaderStartTime": {
						"type": "string",
						"defaultValue": "2021-10-03T04:00:00"
					}
				},
				"variables": {
					"RowNo": {
						"type": "String",
						"defaultValue": "0"
					},
					"triggerFileName": {
						"type": "String"
					},
					"chunkId": {
						"type": "String"
					},
					"queryResult": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-24T05:45:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBatch4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ra-func-process-orch')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PreProLogger",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "powershell \"ls .; python cmd_PreProLogger.py @{pipeline().parameters.raPipelineId} @{pipeline().parameters.ChunkID} @{pipeline().parameters.nmsHeaderStartTime} \"",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "QueryPreProLogger",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "PreProLogger",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "queryResult",
							"value": "'ok'"
						}
					},
					{
						"name": "FindLocksSWLs",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "PreProLogger",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "powershell \"ls\"",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FindSPL",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "FindLocksSWLs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "powershell \"ls\"",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "QuerySWLs",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "FindLocksSWLs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "queryResult",
							"value": "'ok'"
						}
					},
					{
						"name": "QuerySPLs",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "FindSPL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "queryResult",
							"value": "'ok'"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"radbContainer": {
						"type": "string",
						"defaultValue": "nms-items"
					},
					"blobContainerName": {
						"type": "string",
						"defaultValue": "nms-files-input"
					},
					"triggerFilePath": {
						"type": "string",
						"defaultValue": "L89174_records.csv"
					},
					"ChunkID": {
						"type": "string",
						"defaultValue": "89174\t"
					},
					"raPipelineId": {
						"type": "string",
						"defaultValue": "f97597f2-68e0-4cfc-b61c-c2de8bf4775e"
					},
					"nmsHeaderStartTime": {
						"type": "string",
						"defaultValue": "2021-10-03T04:00:00"
					}
				},
				"variables": {
					"RowNo": {
						"type": "String",
						"defaultValue": "0"
					},
					"triggerFileName": {
						"type": "String"
					},
					"chunkId": {
						"type": "String"
					},
					"queryResult": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-24T05:45:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBatch4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/svlconvLogrSvlToRaNmsChunkFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "svl-conv-single-file",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "SetFullFilePath",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "powershell \"Expand-Archive svlconv.zip -DestinationPath  . ; ls; .\\cmdSvlConv.ps1 @{variables('FileFullPath')}; ls\"",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "svlconv-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatchDs",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SetTriggerFileName",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "TriggerFileName",
							"value": {
								"value": "@{pipeline().parameters.triggerFilePath}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetTriggerFolderPath",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "TriggerFolderPath",
							"value": {
								"value": "@{pipeline().parameters.TriggerFolderPath}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetFullFilePath",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SetTriggerFileName",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SetTriggerFolderPath",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "FileFullPath",
							"value": {
								"value": "@concat(variables('TriggerFolderPath'),'/',variables('TriggerFileName'))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"triggerFilePath": {
						"type": "string",
						"defaultValue": "L88829.SVL"
					},
					"triggerFolderPath": {
						"type": "string",
						"defaultValue": "nms-files-sync-aws/files/SV_200A_65170"
					}
				},
				"variables": {
					"TriggerFileName": {
						"type": "String"
					},
					"ChunkId": {
						"type": "String",
						"defaultValue": "89155"
					},
					"TriggerFolderPath": {
						"type": "String"
					},
					"FileFullPath": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBatchDs')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/svlconvToRaNmsChunkFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "svl-conv",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "SetTriggerFilePath",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "powershell \"Expand-Archive svlconv.zip -DestinationPath .; ls; .\\cmdSvlConv.ps1; ls\"",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "svlconv-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SetTriggerFilePath",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "vTriggerFilePAth",
							"value": {
								"value": "@{pipeline().parameters.triggerFilePath}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"TriggerFilePath": {
						"type": "string"
					},
					"TriggerFolderPath": {
						"type": "string"
					}
				},
				"variables": {
					"vTriggerFilePAth": {
						"type": "String"
					},
					"ChunkId": {
						"type": "String",
						"defaultValue": "89155"
					}
				},
				"folder": {
					"name": "archive"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBatch4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dfLoadRecordsCSV')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "nmsMeasCSV2",
								"type": "DatasetReference"
							},
							"name": "sourceNmsFiles"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "radbRecordsForDF",
								"type": "DatasetReference"
							},
							"name": "sinkRadb"
						}
					],
					"transformations": [
						{
							"name": "AddDerivedCols"
						},
						{
							"name": "SetRowNumber"
						}
					],
					"script": "parameters{\n\tRaPipelineIdParam as string ('not-set')\n}\nsource(output(\n\t\tflag as string,\n\t\tmeasurements_0 as string,\n\t\tmeasurements_1 as string,\n\t\tmeasurements_2 as string,\n\t\tmeasurements_3 as string,\n\t\tmeasurements_4 as string,\n\t\tmeasurements_5 as string,\n\t\tmeasurements_6 as string,\n\t\tmeasurements_7 as string,\n\t\tmeasurements_8 as string,\n\t\tmeasurements_9 as string,\n\t\tmeasurements_10 as string,\n\t\tmeasurements_11 as string,\n\t\tmeasurements_12 as string,\n\t\tmeasurements_13 as string,\n\t\tmeasurements_14 as string,\n\t\tmeasurements_15 as string,\n\t\tmeasurements_16 as string,\n\t\tmeasurements_17 as string,\n\t\toctaves_0 as string,\n\t\toctaves_1 as string,\n\t\toctaves_2 as string,\n\t\toctaves_3 as string,\n\t\toctaves_4 as string,\n\t\toctaves_5 as string,\n\t\toctaves_6 as string,\n\t\toctaves_7 as string,\n\t\toctaves_8 as string,\n\t\toctaves_9 as string,\n\t\toctaves_10 as string,\n\t\toctaves_11 as string,\n\t\toctaves_12 as string,\n\t\toctaves_13 as string,\n\t\toctaves_14 as string,\n\t\toctaves_15 as string,\n\t\toctaves_16 as string,\n\t\toctaves_17 as string,\n\t\toctaves_18 as string,\n\t\toctaves_19 as string,\n\t\toctaves_20 as string,\n\t\toctaves_21 as string,\n\t\toctaves_22 as string,\n\t\toctaves_23 as string,\n\t\toctaves_24 as string,\n\t\toctaves_25 as string,\n\t\toctaves_26 as string,\n\t\toctaves_27 as string,\n\t\toctaves_28 as string,\n\t\toctaves_29 as string,\n\t\toctaves_30 as string,\n\t\toctaves_31 as string,\n\t\toctaves_32 as string,\n\t\toctaves_33 as string,\n\t\te_compass_correction as string,\n\t\tdirection_xy as string,\n\t\tenergy_xy as string,\n\t\tdirection_z as string,\n\t\tenergy_z as string,\n\t\tenergy_dist_xy_0 as string,\n\t\tenergy_dist_xy_1 as string,\n\t\tenergy_dist_xy_2 as string,\n\t\tenergy_dist_xy_3 as string,\n\t\tenergy_dist_xy_4 as string,\n\t\tenergy_dist_xy_5 as string,\n\t\tenergy_dist_xy_6 as string,\n\t\tenergy_dist_xy_7 as string,\n\t\tenergy_dist_xy_8 as string,\n\t\tenergy_dist_xy_9 as string,\n\t\tenergy_dist_xy_10 as string,\n\t\tenergy_dist_xy_11 as string,\n\t\tenergy_dist_xy_12 as string,\n\t\tenergy_dist_xy_13 as string,\n\t\tenergy_dist_xy_14 as string,\n\t\tenergy_dist_xy_15 as string,\n\t\tenergy_dist_xy_16 as string,\n\t\tenergy_dist_xy_17 as string,\n\t\tenergy_dist_xy_18 as string,\n\t\tenergy_dist_xy_19 as string,\n\t\tenergy_dist_xy_20 as string,\n\t\tenergy_dist_xy_21 as string,\n\t\tenergy_dist_xy_22 as string,\n\t\tenergy_dist_xy_23 as string,\n\t\tenergy_dist_xy_24 as string,\n\t\tenergy_dist_xy_25 as string,\n\t\tenergy_dist_xy_26 as string,\n\t\tenergy_dist_xy_27 as string,\n\t\tenergy_dist_xy_28 as string,\n\t\tenergy_dist_xy_29 as string,\n\t\tenergy_dist_xy_30 as string,\n\t\tenergy_dist_xy_31 as string,\n\t\tenergy_dist_z_0 as string,\n\t\tenergy_dist_z_1 as string,\n\t\tenergy_dist_z_2 as string,\n\t\tenergy_dist_z_3 as string,\n\t\tenergy_dist_z_4 as string,\n\t\tenergy_dist_z_5 as string,\n\t\tenergy_dist_z_6 as string,\n\t\tenergy_dist_z_7 as string,\n\t\tenergy_dist_z_8 as string,\n\t\tenergy_dist_z_9 as string,\n\t\tenergy_dist_z_10 as string,\n\t\tenergy_dist_z_11 as string,\n\t\tenergy_dist_z_12 as string,\n\t\tenergy_dist_z_13 as string,\n\t\tenergy_dist_z_14 as string,\n\t\tenergy_dist_z_15 as string,\n\t\tenergy_dist_z_16 as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\trowUrlColumn: 'NmsFile',\n\twildcardPaths:['*_records.csv']) ~> sourceNmsFiles\nsourceNmsFiles derive(RowNumber = 1,\n\t\tRaPipelineId = $RaPipelineIdParam,\n\t\tNmsDocumentType = 'records') ~> AddDerivedCols\nAddDerivedCols keyGenerate(output(RowNumber as long),\n\tstartAt: 1L) ~> SetRowNumber\nSetRowNumber sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'document',\n\tpartitionKey: ['/RaPipelineId'],\n\tthroughput: (0),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sinkRadb"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingest-new-nms-files-to-radb')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy-header-to-radb",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetChunkId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "RaPipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "NmsFile",
										"value": "$$FILEPATH"
									},
									{
										"name": "NmsDocumentType",
										"value": {
											"value": "@concat('header')",
											"type": "Expression"
										}
									},
									{
										"name": "ChunkId",
										"value": {
											"value": "@variables('chunkId')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "L@{variables('chunkId')}_header.json",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "NMSMeasurementJSON",
								"type": "DatasetReference",
								"parameters": {
									"chunkid": {
										"value": "@variables('chunkId')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.radbContainer",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy-summary-to-radb",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetChunkId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "RaPipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "NmsFile",
										"value": "$$FILEPATH"
									},
									{
										"name": "NmsDocumentType",
										"value": {
											"value": "@concat('summary')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*_summary.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "NMSMeasurementJSON",
								"type": "DatasetReference",
								"parameters": {
									"chunkid": {
										"value": "@variables('chunkId')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.radbContainer",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy-gps-csv-to-radb",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetChunkId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "RaPipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "NmsFile",
										"value": "$$FILEPATH"
									},
									{
										"name": "NmsDocumentType",
										"value": {
											"value": "@concat('gps')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*_gps.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "nmsMeasCSV2",
								"type": "DatasetReference",
								"parameters": {
									"chunkid": {
										"value": "@variables('chunkId')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.radbContainer",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "validate-incoming-chunk",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "SetIncomingFile",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SetIncomingFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "python ChunkId_cmd.py \"@{pipeline().parameters.triggerFilePath}\"",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SetIncomingFile",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "triggerFileName",
							"value": {
								"value": "@pipeline().parameters.triggerFilePath",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetChunkId",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "validate-incoming-chunk",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "chunkId",
							"value": {
								"value": "@string(int(activity('validate-incoming-chunk').output.customOutput.ChunkId))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "derive-nms-measurement-timestamp",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "Copy-gps-csv-to-radb",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "set-nms-records-start-time",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "setLoggerSN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "python raNmsRecords_Derive_Timestamp.py @{pipeline().parameters.triggerFilePath}  @{variables('chunkId')} @{variables('NmsRecordsStartTime')}",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy-records-csv-to-radb",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "derive-nms-measurement-timestamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "RaPipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "NmsFile",
										"value": "$$FILEPATH"
									},
									{
										"name": "NmsDocumentType",
										"value": {
											"value": "@concat('records')",
											"type": "Expression"
										}
									},
									{
										"name": "ChunkId",
										"value": {
											"value": "@variables('chunkId')",
											"type": "Expression"
										}
									},
									{
										"name": "SN",
										"value": {
											"value": "@variables('LoggerSN')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "nmsRecordsCsv",
								"type": "DatasetReference",
								"parameters": {
									"chunkid": {
										"value": "@variables('chunkId')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "radbRecords",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "LookupChunkHeaderInfo",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy-header-to-radb",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy-gps-csv-to-radb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"query": {
									"value": "SELECT \nc.unit_spec.unit_number, \nc.params_global_settings.measure_start_datetime FROM c \nwhere \n    c.RaPipelineId = '@{pipeline().RunId}'\n    and c.NmsDocumentType = 'header' \n    ",
									"type": "Expression"
								},
								"preferredRegions": [],
								"detectDatetime": false
							},
							"dataset": {
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": "nms-items"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "exec-ra-func-process",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy-records-csv-to-radb",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy-summary-to-radb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ra-func-process-orch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"radbContainer": {
									"value": "@pipeline().parameters.radbContainer",
									"type": "Expression"
								},
								"blobContainerName": {
									"value": "@pipeline().parameters.blobContainerName",
									"type": "Expression"
								},
								"triggerFilePath": {
									"value": "@pipeline().parameters.triggerFilePath",
									"type": "Expression"
								},
								"ChunkID": {
									"value": "@variables('chunkId')",
									"type": "Expression"
								},
								"raPipelineId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"nmsHeaderStartTime": {
									"value": "@{variables('NmsRecordsStartTime')}",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "set-nms-records-start-time",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "LookupChunkHeaderInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "NmsRecordsStartTime",
							"value": {
								"value": "@{activity('LookupChunkHeaderInfo').output.firstRow.measure_start_datetime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetIncomingFolder",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "triggerFileFolderPath",
							"value": {
								"value": "@pipeline().parameters.triggerFilePath",
								"type": "Expression"
							}
						}
					},
					{
						"name": "setLoggerSN",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "LookupChunkHeaderInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "LoggerSN",
							"value": {
								"value": "@{activity('LookupChunkHeaderInfo').output.firstRow.unit_number}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"radbContainer": {
						"type": "string",
						"defaultValue": "nms-items"
					},
					"blobContainerName": {
						"type": "string",
						"defaultValue": "nms-files-input"
					},
					"triggerFilePath": {
						"type": "string",
						"defaultValue": "L88837_records.csv"
					},
					"triggerFolderName": {
						"type": "string"
					}
				},
				"variables": {
					"RowNo": {
						"type": "String",
						"defaultValue": "0"
					},
					"triggerFileName": {
						"type": "String"
					},
					"chunkId": {
						"type": "String"
					},
					"queryResult": {
						"type": "String"
					},
					"NmsRecordsStartTime": {
						"type": "String"
					},
					"triggerFileFolderPath": {
						"type": "String"
					},
					"LoggerSN": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-24T05:45:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBatch4')]",
				"[concat(variables('factoryId'), '/pipelines/ra-func-process-orch')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingest-new-nms-files-to-radb_v2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy-header-to-radb",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetChunkId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "RaPipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "NmsFile",
										"value": "$$FILEPATH"
									},
									{
										"name": "NmsDocumentType",
										"value": {
											"value": "@concat('header')",
											"type": "Expression"
										}
									},
									{
										"name": "ChunkId",
										"value": {
											"value": "@variables('chunkId')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "L@{variables('chunkId')}_header.json",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "NMSMeasurementJSON",
								"type": "DatasetReference",
								"parameters": {
									"chunkid": {
										"value": "@variables('chunkId')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.radbContainer",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy-summary-to-radb",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetChunkId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "RaPipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "NmsFile",
										"value": "$$FILEPATH"
									},
									{
										"name": "NmsDocumentType",
										"value": {
											"value": "@concat('summary')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*_summary.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "NMSMeasurementJSON",
								"type": "DatasetReference",
								"parameters": {
									"chunkid": {
										"value": "@variables('chunkId')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.radbContainer",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy-gps-csv-to-radb",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetChunkId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "RaPipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "NmsFile",
										"value": "$$FILEPATH"
									},
									{
										"name": "NmsDocumentType",
										"value": {
											"value": "@concat('gps')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*_gps.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "nmsMeasCSV2",
								"type": "DatasetReference",
								"parameters": {
									"chunkid": {
										"value": "@variables('chunkId')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.radbContainer",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "validate-incoming-chunk",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "SetIncomingFile",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SetIncomingFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "python ChunkId_cmd.py \"@{pipeline().parameters.triggerFilePath}\"",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SetIncomingFile",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "triggerFileName",
							"value": {
								"value": "@pipeline().parameters.triggerFilePath",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetChunkId",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "validate-incoming-chunk",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "chunkId",
							"value": {
								"value": "@string(int(activity('validate-incoming-chunk').output.customOutput.ChunkId))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "derive-nms-measurement-timestamp",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "Copy-gps-csv-to-radb",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "set-nms-records-start-time",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "setLoggerSN",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": {
								"value": "python raNmsRecords_Derive_Timestamp.py @{pipeline().parameters.triggerFilePath}  @{variables('chunkId')} @{variables('NmsRecordsStartTime')}",
								"type": "Expression"
							},
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy-records-csv-to-radb",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "derive-nms-measurement-timestamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "RaPipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "NmsFile",
										"value": "$$FILEPATH"
									},
									{
										"name": "NmsDocumentType",
										"value": {
											"value": "@concat('records')",
											"type": "Expression"
										}
									},
									{
										"name": "ChunkId",
										"value": {
											"value": "@variables('chunkId')",
											"type": "Expression"
										}
									},
									{
										"name": "SN",
										"value": {
											"value": "@variables('LoggerSN')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "nmsRecordsCsv",
								"type": "DatasetReference",
								"parameters": {
									"chunkid": {
										"value": "@variables('chunkId')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "radbRecords",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "LookupChunkHeaderInfo",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy-header-to-radb",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy-gps-csv-to-radb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"query": {
									"value": "SELECT \nc.unit_spec.unit_number, \nc.params_global_settings.measure_start_datetime FROM c \nwhere \n    c.RaPipelineId = '@{pipeline().RunId}'\n    and c.NmsDocumentType = 'header' \n    ",
									"type": "Expression"
								},
								"preferredRegions": [],
								"detectDatetime": false
							},
							"dataset": {
								"referenceName": "radb",
								"type": "DatasetReference",
								"parameters": {
									"containerName": "nms-items"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "exec-ra-func-process",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy-records-csv-to-radb",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy-summary-to-radb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ra-func-process-orch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"radbContainer": {
									"value": "@pipeline().parameters.radbContainer",
									"type": "Expression"
								},
								"blobContainerName": {
									"value": "@pipeline().parameters.blobContainerName",
									"type": "Expression"
								},
								"triggerFilePath": {
									"value": "@pipeline().parameters.triggerFilePath",
									"type": "Expression"
								},
								"ChunkID": {
									"value": "@variables('chunkId')",
									"type": "Expression"
								},
								"raPipelineId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"nmsHeaderStartTime": {
									"value": "@{variables('NmsRecordsStartTime')}",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "set-nms-records-start-time",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "LookupChunkHeaderInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "NmsRecordsStartTime",
							"value": {
								"value": "@{activity('LookupChunkHeaderInfo').output.firstRow.measure_start_datetime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetIncomingFolder",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "triggerFileFolderPath",
							"value": {
								"value": "@pipeline().parameters.triggerFilePath",
								"type": "Expression"
							}
						}
					},
					{
						"name": "setLoggerSN",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "LookupChunkHeaderInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "LoggerSN",
							"value": {
								"value": "@{activity('LookupChunkHeaderInfo').output.firstRow.unit_number}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"radbContainer": {
						"type": "string",
						"defaultValue": "nms-items"
					},
					"blobContainerName": {
						"type": "string",
						"defaultValue": "nms-files-input"
					},
					"triggerFilePath": {
						"type": "string",
						"defaultValue": "L88837_records.csv"
					},
					"triggerFolderName": {
						"type": "string"
					}
				},
				"variables": {
					"RowNo": {
						"type": "String",
						"defaultValue": "0"
					},
					"triggerFileName": {
						"type": "String"
					},
					"chunkId": {
						"type": "String"
					},
					"queryResult": {
						"type": "String"
					},
					"NmsRecordsStartTime": {
						"type": "String"
					},
					"triggerFileFolderPath": {
						"type": "String"
					},
					"LoggerSN": {
						"type": "String"
					}
				},
				"folder": {
					"name": "archive"
				},
				"annotations": [],
				"lastPublishTime": "2021-08-24T05:45:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBatch4')]",
				"[concat(variables('factoryId'), '/pipelines/ra-func-process-orch')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerLoggerSN_65123')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "svlconvLogrSvlToRaNmsChunkFiles",
							"type": "PipelineReference"
						},
						"parameters": {
							"triggerFilePath": "[parameters('triggerLoggerSN_65123_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFilePath')]",
							"triggerFolderPath": "[parameters('triggerLoggerSN_65123_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFolderPath')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/nms-files-sync-aws/blobs/files/SV_200A_65123/",
					"blobPathEndsWith": "SVL",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('triggerLoggerSN_65123_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/svlconvLogrSvlToRaNmsChunkFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerLoggerSN_65169')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "svlconvLogrSvlToRaNmsChunkFiles",
							"type": "PipelineReference"
						},
						"parameters": {
							"triggerFilePath": "[parameters('triggerLoggerSN_65169_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFilePath')]",
							"triggerFolderPath": "[parameters('triggerLoggerSN_65169_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFolderPath')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/nms-files-sync-aws/blobs/files/SV_200A_65169/",
					"blobPathEndsWith": "SVL",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('triggerLoggerSN_65169_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/svlconvLogrSvlToRaNmsChunkFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerLoggerSN_65170')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "svlconvLogrSvlToRaNmsChunkFiles",
							"type": "PipelineReference"
						},
						"parameters": {
							"triggerFilePath": "[parameters('triggerLoggerSN_65170_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFilePath')]",
							"triggerFolderPath": "[parameters('triggerLoggerSN_65170_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFolderPath')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/nms-files-sync-aws/blobs/files/SV_200A_65170/",
					"blobPathEndsWith": "SVL",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('triggerLoggerSN_65170_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/svlconvLogrSvlToRaNmsChunkFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerLoggerSN_65173')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "svlconvLogrSvlToRaNmsChunkFiles",
							"type": "PipelineReference"
						},
						"parameters": {
							"triggerFilePath": "[parameters('triggerLoggerSN_65173_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFilePath')]",
							"triggerFolderPath": "[parameters('triggerLoggerSN_65173_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFolderPath')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/nms-files-sync-aws/blobs/files/SV_200A_65173/",
					"blobPathEndsWith": "SVL",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('triggerLoggerSN_65173_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/svlconvLogrSvlToRaNmsChunkFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerLoggerSN_65186')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "svlconvLogrSvlToRaNmsChunkFiles",
							"type": "PipelineReference"
						},
						"parameters": {
							"triggerFilePath": "[parameters('triggerLoggerSN_65186_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFilePath')]",
							"triggerFolderPath": "[parameters('triggerLoggerSN_65186_properties_svlconvLogrSvlToRaNmsChunkFiles_parameters_triggerFolderPath')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/nms-files-sync-aws/blobs/files/SV_200A_65186/",
					"blobPathEndsWith": "SVL",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('triggerLoggerSN_65186_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/svlconvLogrSvlToRaNmsChunkFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerNewSourceFile')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ingest-new-nms-files-to-radb",
							"type": "PipelineReference"
						},
						"parameters": {
							"radbContainer": "[parameters('triggerNewSourceFile_properties_ingest-new-nms-files-to-radb_parameters_radbContainer')]",
							"blobContainerName": "[parameters('triggerNewSourceFile_properties_ingest-new-nms-files-to-radb_parameters_blobContainerName')]",
							"triggerFilePath": "[parameters('triggerNewSourceFile_properties_ingest-new-nms-files-to-radb_parameters_triggerFilePath')]",
							"triggerFolderName": "[parameters('triggerNewSourceFile_properties_ingest-new-nms-files-to-radb_parameters_triggerFolderName')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/nms-files-input/blobs/",
					"blobPathEndsWith": "_records.csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('triggerNewSourceFile_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ingest-new-nms-files-to-radb')]"
			]
		}
	]
}