ra-df-01/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ra-df-01"
		},
		"CosmosDb1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'CosmosDb1'"
		},
		"batchStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'batchStorage'"
		},
		"rablobservice_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'rablobservice'"
		},
		"AzureBatch2_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'AzureBatch2'"
		},
		"AzureBatch3_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'AzureBatch3'"
		},
		"AzureBatch1_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://rabatchacc01.australiacentral.batch.azure.com"
		},
		"AzureBatch1_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "python-datasci-01"
		},
		"AzureBatch1_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "rabatchacc01 "
		},
		"AzureBatch2_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://rabatchacc01.australiacentral.batch.azure.com"
		},
		"AzureBatch2_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "pool2"
		},
		"AzureBatch2_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "rabatchacc01"
		},
		"AzureBatch3_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://rabatchacc01.australiacentral.batch.azure.com"
		},
		"AzureBatch3_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "ra-func-02"
		},
		"AzureBatch3_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "rabatchacc01"
		},
		"AzureBatch4_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://rasebatchacc05.australiasoutheast.batch.azure.com"
		},
		"AzureBatch4_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "pool-9-1"
		},
		"AzureBatch4_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "rasebatchacc05 "
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline-test-web-acty')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://localhost:7071/api/ra-nms-measurements?RaPipelineId=8649b4ba-fb4e-4e99-a17e-51d5ffc9be69",
							"method": "GET",
							"headers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CosmosDb1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('CosmosDb1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/batchStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('batchStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/rablobservice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('rablobservice_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NMSMeasurementJSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "rablobservice",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"chunkid": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "L@{dataset().chunkid}_header.json",
							"type": "Expression"
						},
						"container": "nms-files-input"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"unit_spec": {
							"type": "object",
							"properties": {
								"class_name": {
									"type": "string"
								},
								"unit_number": {
									"type": "integer"
								},
								"unit_type": {
									"type": "integer"
								},
								"software_version": {
									"type": "integer"
								},
								"software_issue_date": {
									"type": "string"
								},
								"device_mode": {
									"type": "integer"
								},
								"unit_subtype": {
									"type": "integer"
								},
								"file_system_version": {
									"type": "integer"
								},
								"level_meter_version": {
									"type": "integer"
								},
								"software_subversion": {
									"type": "integer"
								}
							}
						},
						"params_global_settings": {
							"type": "object",
							"properties": {
								"class_name": {
									"type": "string"
								},
								"measure_start_datetime": {
									"type": "string"
								},
								"measure_input": {
									"type": "integer"
								},
								"range": {
									"type": "integer"
								},
								"unit_flags": {
									"type": "integer"
								},
								"rep_cycle": {
									"type": "integer"
								},
								"num_profiles": {
									"type": "integer"
								},
								"start_delay": {
									"type": "string"
								},
								"integration_time": {
									"type": "integer"
								},
								"stat_detector": {
									"type": "integer"
								},
								"leq_function": {
									"type": "integer"
								},
								"spectrum_filter": {
									"type": "string"
								},
								"spectrum_buffer": {
									"type": "integer"
								},
								"spectrum_detector": {
									"type": "integer"
								},
								"start_sync": {
									"type": "integer"
								},
								"spectrum_band": {
									"type": "integer"
								},
								"mic_compensation": {
									"type": "integer"
								},
								"calibration_type": {
									"type": "integer"
								},
								"calibration_datetime": {
									"type": "string"
								},
								"outdoor_filter": {
									"type": "integer"
								},
								"outdoor_type": {
									"type": "integer"
								},
								"main_results_buffer": {
									"type": "integer"
								},
								"split_mode": {
									"type": "integer"
								},
								"split_times": {
									"type": "null"
								},
								"gps_last_sync_time": {
									"type": "integer"
								},
								"statistics_cycle": {
									"type": "integer"
								},
								"measure_start_datetime_ms": {
									"type": "string"
								},
								"num_dir_dist_elements_xy": {
									"type": "integer"
								},
								"num_dir_dist_elements_z": {
									"type": "integer"
								},
								"dir_results_buffer": {
									"type": "integer"
								},
								"logger_main_profiles": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"logger_main_common": {
									"type": "integer"
								},
								"logger_stat_profiles": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"segment_masks": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								}
							}
						},
						"summary_main_results": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"class_name": {
										"type": "string"
									},
									"lxpeak_value": {
										"type": "number"
									},
									"lxye_value": {
										"type": "number"
									},
									"lxymax_value": {
										"type": "number"
									},
									"lxymin_value": {
										"type": "number"
									},
									"lxy_value": {
										"type": "number"
									},
									"lxyeq_value": {
										"type": "number"
									},
									"lden_value": {
										"type": "number"
									},
									"ltm3_value": {
										"type": "number"
									},
									"ltm5_value": {
										"type": "number"
									},
									"lr1_value": {
										"type": "number"
									},
									"lr2_value": {
										"type": "number"
									},
									"le1_value": {
										"type": "number"
									},
									"le2_value": {
										"type": "number"
									}
								}
							}
						},
						"summary_octave_analysis_results": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"class_name": {
										"type": "string"
									},
									"lowest_frequency": {
										"type": "number"
									},
									"num_octave_values": {
										"type": "integer"
									},
									"num_total_values": {
										"type": "integer"
									},
									"octaves": {
										"type": "array",
										"items": {
											"type": "number"
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/rablobservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blobInputFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "rablobservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "nms-files-input"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/rablobservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/nmsMeasCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "rablobservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "*.CSV",
						"folderPath": "*.*",
						"container": "input-svl-files-small"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "flag",
						"type": "String"
					},
					{
						"name": "measurements_0",
						"type": "String"
					},
					{
						"name": "measurements_1",
						"type": "String"
					},
					{
						"name": "measurements_2",
						"type": "String"
					},
					{
						"name": "measurements_3",
						"type": "String"
					},
					{
						"name": "measurements_4",
						"type": "String"
					},
					{
						"name": "measurements_5",
						"type": "String"
					},
					{
						"name": "measurements_6",
						"type": "String"
					},
					{
						"name": "measurements_7",
						"type": "String"
					},
					{
						"name": "measurements_8",
						"type": "String"
					},
					{
						"name": "measurements_9",
						"type": "String"
					},
					{
						"name": "measurements_10",
						"type": "String"
					},
					{
						"name": "measurements_11",
						"type": "String"
					},
					{
						"name": "measurements_12",
						"type": "String"
					},
					{
						"name": "measurements_13",
						"type": "String"
					},
					{
						"name": "measurements_14",
						"type": "String"
					},
					{
						"name": "measurements_15",
						"type": "String"
					},
					{
						"name": "measurements_16",
						"type": "String"
					},
					{
						"name": "measurements_17",
						"type": "String"
					},
					{
						"name": "octaves_0",
						"type": "String"
					},
					{
						"name": "octaves_1",
						"type": "String"
					},
					{
						"name": "octaves_2",
						"type": "String"
					},
					{
						"name": "octaves_3",
						"type": "String"
					},
					{
						"name": "octaves_4",
						"type": "String"
					},
					{
						"name": "octaves_5",
						"type": "String"
					},
					{
						"name": "octaves_6",
						"type": "String"
					},
					{
						"name": "octaves_7",
						"type": "String"
					},
					{
						"name": "octaves_8",
						"type": "String"
					},
					{
						"name": "octaves_9",
						"type": "String"
					},
					{
						"name": "octaves_10",
						"type": "String"
					},
					{
						"name": "octaves_11",
						"type": "String"
					},
					{
						"name": "octaves_12",
						"type": "String"
					},
					{
						"name": "octaves_13",
						"type": "String"
					},
					{
						"name": "octaves_14",
						"type": "String"
					},
					{
						"name": "octaves_15",
						"type": "String"
					},
					{
						"name": "octaves_16",
						"type": "String"
					},
					{
						"name": "octaves_17",
						"type": "String"
					},
					{
						"name": "octaves_18",
						"type": "String"
					},
					{
						"name": "octaves_19",
						"type": "String"
					},
					{
						"name": "octaves_20",
						"type": "String"
					},
					{
						"name": "octaves_21",
						"type": "String"
					},
					{
						"name": "octaves_22",
						"type": "String"
					},
					{
						"name": "octaves_23",
						"type": "String"
					},
					{
						"name": "octaves_24",
						"type": "String"
					},
					{
						"name": "octaves_25",
						"type": "String"
					},
					{
						"name": "octaves_26",
						"type": "String"
					},
					{
						"name": "octaves_27",
						"type": "String"
					},
					{
						"name": "octaves_28",
						"type": "String"
					},
					{
						"name": "octaves_29",
						"type": "String"
					},
					{
						"name": "octaves_30",
						"type": "String"
					},
					{
						"name": "octaves_31",
						"type": "String"
					},
					{
						"name": "octaves_32",
						"type": "String"
					},
					{
						"name": "octaves_33",
						"type": "String"
					},
					{
						"name": "e_compass_correction",
						"type": "String"
					},
					{
						"name": "direction_xy",
						"type": "String"
					},
					{
						"name": "energy_xy",
						"type": "String"
					},
					{
						"name": "direction_z",
						"type": "String"
					},
					{
						"name": "energy_z",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_0",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_1",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_2",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_3",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_4",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_5",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_6",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_7",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_8",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_9",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_10",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_11",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_12",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_13",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_14",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_15",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_16",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_17",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_18",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_19",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_20",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_21",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_22",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_23",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_24",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_25",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_26",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_27",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_28",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_29",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_30",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_31",
						"type": "String"
					},
					{
						"name": "energy_dist_z_0",
						"type": "String"
					},
					{
						"name": "energy_dist_z_1",
						"type": "String"
					},
					{
						"name": "energy_dist_z_2",
						"type": "String"
					},
					{
						"name": "energy_dist_z_3",
						"type": "String"
					},
					{
						"name": "energy_dist_z_4",
						"type": "String"
					},
					{
						"name": "energy_dist_z_5",
						"type": "String"
					},
					{
						"name": "energy_dist_z_6",
						"type": "String"
					},
					{
						"name": "energy_dist_z_7",
						"type": "String"
					},
					{
						"name": "energy_dist_z_8",
						"type": "String"
					},
					{
						"name": "energy_dist_z_9",
						"type": "String"
					},
					{
						"name": "energy_dist_z_10",
						"type": "String"
					},
					{
						"name": "energy_dist_z_11",
						"type": "String"
					},
					{
						"name": "energy_dist_z_12",
						"type": "String"
					},
					{
						"name": "energy_dist_z_13",
						"type": "String"
					},
					{
						"name": "energy_dist_z_14",
						"type": "String"
					},
					{
						"name": "energy_dist_z_15",
						"type": "String"
					},
					{
						"name": "energy_dist_z_16",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/rablobservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/nmsMeasCSV2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "rablobservice",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"chunkid": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "L@{dataset().chunkid}_records.csv",
							"type": "Expression"
						},
						"container": "nms-files-input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "flag",
						"type": "String"
					},
					{
						"name": "measurements_0",
						"type": "String"
					},
					{
						"name": "measurements_1",
						"type": "String"
					},
					{
						"name": "measurements_2",
						"type": "String"
					},
					{
						"name": "measurements_3",
						"type": "String"
					},
					{
						"name": "measurements_4",
						"type": "String"
					},
					{
						"name": "measurements_5",
						"type": "String"
					},
					{
						"name": "measurements_6",
						"type": "String"
					},
					{
						"name": "measurements_7",
						"type": "String"
					},
					{
						"name": "measurements_8",
						"type": "String"
					},
					{
						"name": "measurements_9",
						"type": "String"
					},
					{
						"name": "measurements_10",
						"type": "String"
					},
					{
						"name": "measurements_11",
						"type": "String"
					},
					{
						"name": "measurements_12",
						"type": "String"
					},
					{
						"name": "measurements_13",
						"type": "String"
					},
					{
						"name": "measurements_14",
						"type": "String"
					},
					{
						"name": "measurements_15",
						"type": "String"
					},
					{
						"name": "measurements_16",
						"type": "String"
					},
					{
						"name": "measurements_17",
						"type": "String"
					},
					{
						"name": "octaves_0",
						"type": "String"
					},
					{
						"name": "octaves_1",
						"type": "String"
					},
					{
						"name": "octaves_2",
						"type": "String"
					},
					{
						"name": "octaves_3",
						"type": "String"
					},
					{
						"name": "octaves_4",
						"type": "String"
					},
					{
						"name": "octaves_5",
						"type": "String"
					},
					{
						"name": "octaves_6",
						"type": "String"
					},
					{
						"name": "octaves_7",
						"type": "String"
					},
					{
						"name": "octaves_8",
						"type": "String"
					},
					{
						"name": "octaves_9",
						"type": "String"
					},
					{
						"name": "octaves_10",
						"type": "String"
					},
					{
						"name": "octaves_11",
						"type": "String"
					},
					{
						"name": "octaves_12",
						"type": "String"
					},
					{
						"name": "octaves_13",
						"type": "String"
					},
					{
						"name": "octaves_14",
						"type": "String"
					},
					{
						"name": "octaves_15",
						"type": "String"
					},
					{
						"name": "octaves_16",
						"type": "String"
					},
					{
						"name": "octaves_17",
						"type": "String"
					},
					{
						"name": "octaves_18",
						"type": "String"
					},
					{
						"name": "octaves_19",
						"type": "String"
					},
					{
						"name": "octaves_20",
						"type": "String"
					},
					{
						"name": "octaves_21",
						"type": "String"
					},
					{
						"name": "octaves_22",
						"type": "String"
					},
					{
						"name": "octaves_23",
						"type": "String"
					},
					{
						"name": "octaves_24",
						"type": "String"
					},
					{
						"name": "octaves_25",
						"type": "String"
					},
					{
						"name": "octaves_26",
						"type": "String"
					},
					{
						"name": "octaves_27",
						"type": "String"
					},
					{
						"name": "octaves_28",
						"type": "String"
					},
					{
						"name": "octaves_29",
						"type": "String"
					},
					{
						"name": "octaves_30",
						"type": "String"
					},
					{
						"name": "octaves_31",
						"type": "String"
					},
					{
						"name": "octaves_32",
						"type": "String"
					},
					{
						"name": "octaves_33",
						"type": "String"
					},
					{
						"name": "e_compass_correction",
						"type": "String"
					},
					{
						"name": "direction_xy",
						"type": "String"
					},
					{
						"name": "energy_xy",
						"type": "String"
					},
					{
						"name": "direction_z",
						"type": "String"
					},
					{
						"name": "energy_z",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_0",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_1",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_2",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_3",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_4",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_5",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_6",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_7",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_8",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_9",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_10",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_11",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_12",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_13",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_14",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_15",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_16",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_17",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_18",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_19",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_20",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_21",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_22",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_23",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_24",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_25",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_26",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_27",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_28",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_29",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_30",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_31",
						"type": "String"
					},
					{
						"name": "energy_dist_z_0",
						"type": "String"
					},
					{
						"name": "energy_dist_z_1",
						"type": "String"
					},
					{
						"name": "energy_dist_z_2",
						"type": "String"
					},
					{
						"name": "energy_dist_z_3",
						"type": "String"
					},
					{
						"name": "energy_dist_z_4",
						"type": "String"
					},
					{
						"name": "energy_dist_z_5",
						"type": "String"
					},
					{
						"name": "energy_dist_z_6",
						"type": "String"
					},
					{
						"name": "energy_dist_z_7",
						"type": "String"
					},
					{
						"name": "energy_dist_z_8",
						"type": "String"
					},
					{
						"name": "energy_dist_z_9",
						"type": "String"
					},
					{
						"name": "energy_dist_z_10",
						"type": "String"
					},
					{
						"name": "energy_dist_z_11",
						"type": "String"
					},
					{
						"name": "energy_dist_z_12",
						"type": "String"
					},
					{
						"name": "energy_dist_z_13",
						"type": "String"
					},
					{
						"name": "energy_dist_z_14",
						"type": "String"
					},
					{
						"name": "energy_dist_z_15",
						"type": "String"
					},
					{
						"name": "energy_dist_z_16",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/rablobservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/nmsMeasSchemat')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "rablobservice",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "input-svl-files"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/rablobservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/nmsMeasurementsJSON_old')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "rablobservice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "L84858_header.json",
						"folderPath": "SV_200A_65123",
						"container": "input-svl-files-small"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/rablobservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/nmsRecordsCsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "rablobservice",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"chunkid": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "L@{dataset().chunkid}_records_rownumbered.csv",
							"type": "Expression"
						},
						"container": "nms-files-input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "RowNumber",
						"type": "String"
					},
					{
						"name": " flag",
						"type": "String"
					},
					{
						"name": "measurements_0",
						"type": "String"
					},
					{
						"name": "measurements_1",
						"type": "String"
					},
					{
						"name": "measurements_2",
						"type": "String"
					},
					{
						"name": "measurements_3",
						"type": "String"
					},
					{
						"name": "measurements_4",
						"type": "String"
					},
					{
						"name": "measurements_5",
						"type": "String"
					},
					{
						"name": "measurements_6",
						"type": "String"
					},
					{
						"name": "measurements_7",
						"type": "String"
					},
					{
						"name": "measurements_8",
						"type": "String"
					},
					{
						"name": "measurements_9",
						"type": "String"
					},
					{
						"name": "measurements_10",
						"type": "String"
					},
					{
						"name": "measurements_11",
						"type": "String"
					},
					{
						"name": "measurements_12",
						"type": "String"
					},
					{
						"name": "measurements_13",
						"type": "String"
					},
					{
						"name": "measurements_14",
						"type": "String"
					},
					{
						"name": "measurements_15",
						"type": "String"
					},
					{
						"name": "measurements_16",
						"type": "String"
					},
					{
						"name": "measurements_17",
						"type": "String"
					},
					{
						"name": "octaves_0",
						"type": "String"
					},
					{
						"name": "octaves_1",
						"type": "String"
					},
					{
						"name": "octaves_2",
						"type": "String"
					},
					{
						"name": "octaves_3",
						"type": "String"
					},
					{
						"name": "octaves_4",
						"type": "String"
					},
					{
						"name": "octaves_5",
						"type": "String"
					},
					{
						"name": "octaves_6",
						"type": "String"
					},
					{
						"name": "octaves_7",
						"type": "String"
					},
					{
						"name": "octaves_8",
						"type": "String"
					},
					{
						"name": "octaves_9",
						"type": "String"
					},
					{
						"name": "octaves_10",
						"type": "String"
					},
					{
						"name": "octaves_11",
						"type": "String"
					},
					{
						"name": "octaves_12",
						"type": "String"
					},
					{
						"name": "octaves_13",
						"type": "String"
					},
					{
						"name": "octaves_14",
						"type": "String"
					},
					{
						"name": "octaves_15",
						"type": "String"
					},
					{
						"name": "octaves_16",
						"type": "String"
					},
					{
						"name": "octaves_17",
						"type": "String"
					},
					{
						"name": "octaves_18",
						"type": "String"
					},
					{
						"name": "octaves_19",
						"type": "String"
					},
					{
						"name": "octaves_20",
						"type": "String"
					},
					{
						"name": "octaves_21",
						"type": "String"
					},
					{
						"name": "octaves_22",
						"type": "String"
					},
					{
						"name": "octaves_23",
						"type": "String"
					},
					{
						"name": "octaves_24",
						"type": "String"
					},
					{
						"name": "octaves_25",
						"type": "String"
					},
					{
						"name": "octaves_26",
						"type": "String"
					},
					{
						"name": "octaves_27",
						"type": "String"
					},
					{
						"name": "octaves_28",
						"type": "String"
					},
					{
						"name": "octaves_29",
						"type": "String"
					},
					{
						"name": "octaves_30",
						"type": "String"
					},
					{
						"name": "octaves_31",
						"type": "String"
					},
					{
						"name": "octaves_32",
						"type": "String"
					},
					{
						"name": "octaves_33",
						"type": "String"
					},
					{
						"name": "e_compass_correction",
						"type": "String"
					},
					{
						"name": "direction_xy",
						"type": "String"
					},
					{
						"name": "energy_xy",
						"type": "String"
					},
					{
						"name": "direction_z",
						"type": "String"
					},
					{
						"name": "energy_z",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_0",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_1",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_2",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_3",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_4",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_5",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_6",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_7",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_8",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_9",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_10",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_11",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_12",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_13",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_14",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_15",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_16",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_17",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_18",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_19",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_20",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_21",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_22",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_23",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_24",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_25",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_26",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_27",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_28",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_29",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_30",
						"type": "String"
					},
					{
						"name": "energy_dist_xy_31",
						"type": "String"
					},
					{
						"name": "energy_dist_z_0",
						"type": "String"
					},
					{
						"name": "energy_dist_z_1",
						"type": "String"
					},
					{
						"name": "energy_dist_z_2",
						"type": "String"
					},
					{
						"name": "energy_dist_z_3",
						"type": "String"
					},
					{
						"name": "energy_dist_z_4",
						"type": "String"
					},
					{
						"name": "energy_dist_z_5",
						"type": "String"
					},
					{
						"name": "energy_dist_z_6",
						"type": "String"
					},
					{
						"name": "energy_dist_z_7",
						"type": "String"
					},
					{
						"name": "energy_dist_z_8",
						"type": "String"
					},
					{
						"name": "energy_dist_z_9",
						"type": "String"
					},
					{
						"name": "energy_dist_z_10",
						"type": "String"
					},
					{
						"name": "energy_dist_z_11",
						"type": "String"
					},
					{
						"name": "energy_dist_z_12",
						"type": "String"
					},
					{
						"name": "energy_dist_z_13",
						"type": "String"
					},
					{
						"name": "energy_dist_z_14",
						"type": "String"
					},
					{
						"name": "energy_dist_z_15",
						"type": "String"
					},
					{
						"name": "energy_dist_z_16",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/rablobservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/radb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDb1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"containerName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {},
				"typeProperties": {
					"collectionName": {
						"value": "@dataset().containerName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CosmosDb1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/radbRecords')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDb1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {},
				"typeProperties": {
					"collectionName": "nms-items"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CosmosDb1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/radbRecordsForDF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDb1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {},
				"typeProperties": {
					"collectionName": "nms-items"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CosmosDb1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBatch1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"batchUri": "[parameters('AzureBatch1_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('AzureBatch1_properties_typeProperties_poolName')]",
					"accountName": "[parameters('AzureBatch1_properties_typeProperties_accountName')]",
					"linkedServiceName": {
						"referenceName": "rablobservice",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/rablobservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBatch2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"batchUri": "[parameters('AzureBatch2_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('AzureBatch2_properties_typeProperties_poolName')]",
					"accountName": "[parameters('AzureBatch2_properties_typeProperties_accountName')]",
					"linkedServiceName": {
						"referenceName": "rablobservice",
						"type": "LinkedServiceReference"
					},
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('AzureBatch2_accessKey')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/rablobservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBatch3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"batchUri": "[parameters('AzureBatch3_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('AzureBatch3_properties_typeProperties_poolName')]",
					"accountName": "[parameters('AzureBatch3_properties_typeProperties_accountName')]",
					"linkedServiceName": {
						"referenceName": "rablobservice",
						"type": "LinkedServiceReference"
					},
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('AzureBatch3_accessKey')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/rablobservice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBatch4')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"batchUri": "[parameters('AzureBatch4_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('AzureBatch4_properties_typeProperties_poolName')]",
					"accountName": "[parameters('AzureBatch4_properties_typeProperties_accountName')]",
					"linkedServiceName": {
						"referenceName": "batchStorage",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/batchStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline-python-test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Custom1",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "python radb-batch.py",
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Custom1_copy1",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "python radb-batch.py",
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/batchStorage')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBatch4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/python-test_chunkid-w-params')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "call py func with params",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "python ChunkId_cmd.py \"L90353_records.csv\"",
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "call py func with params",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "chunkid",
							"value": {
								"value": "@activity('call py func with params').output.CustomOutput.ChunkId",
								"type": "Expression"
							}
						}
					},
					{
						"name": "call py func with params_copy1",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "python ChunkId_cmd.py \"L90353_records.csv\"",
							"resourceLinkedService": {
								"referenceName": "batchStorage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "ra-function-input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch4",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"chunkid": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/batchStorage')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBatch4')]"
			]
		}
	]
}